
  <%= simple_form_for([pick, exchange], remote: true) do |f| %>
    <div class="question-field">
      <%= f.input_field :question, placeholder: "Posez votre question" %>
    </div>
    <div class="post-question">
      <%= f.submit value: "Poster", class: "btn-orange" %>
    </div>
  <% end %>

