// Define variables for your color scheme

// For example:


/* HSL */
$color1: hsla(197%, 94%, 79%, 1);
$color2: hsla(185%, 84%, 38%, 1);
$color3: hsla(180%, 1%, 27%, 1);
$color4: hsla(240%, 3%, 88%, 1);
$color5: hsla(324%, 92%, 10%, 1);

/* RGB */
$color1: rgba(151, 223, 252, 1);
$color2: rgba(15, 163, 177, 1);
$color3: rgba(68, 69, 69, 1);
$color4: rgba(224, 224, 226, 1);
$color5: rgba(50, 2, 31, 1);

$red: #EE5F5B;
$blue: #2db4e5;
$yellow: #F1B255;
$orange: #E67E22;
$green: #32B796;
$darkgray: #4A4A4A;
$gray: #1F1F26;
$light-gray: #FBFBFB;
$white:#FFF;
$blueworld:#2b72db;
$anis:#B2D430;
$medium-gray:#DBDBDB;
$pink: #f785a3;

$color--attachinary-dropzone-border:                  $blue;
$size--attachinary-preview-size:                      17.5rem;
$size--attachinary-dropzone-width:                    27rem;
$size--attachinary-dropzone-height:                   21rem;
$space:                                               15px;
$bootstrap-lg:                                        700px;
$white-two:                                           $light-gray;
$athens-grey:                                         $gray;
$black:                                               black;
