// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,300,700|Roboto:400,300,700|Lato:400,300,700");
// Define fonts for body and headers
$body-font: 'Roboto';
$headers-font: "Montserrat";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


h3 {
  font-size: 20px;
}

p {
  font-size: 14px;
}


a {
  text-decoration: none;
  &:focus {
    text-decoration: none;
  }
}

.nopadding-right {
   padding-right: 0 !important;
   margin-right: 0 !important;
}

.nopadding-left {
   padding-left: 0 !important;
   margin-left: 0 !important;
}

.nopadding-top {
   padding-top: 0 !important;
   margin-top: 0 !important;
}

.nopadding-bottom {
   padding-bottom: 0 !important;
   margin-bottom: 0 !important;
}
