// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700|Lato:400,300,700|Varela+Round:400,300,700");
// Define fonts for body and headers
$body-font: 'Roboto';
$headers-font: 'Varela Round', sans-serif;


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

body {

}


h3 {
  font-size: 20px;
}

p {
  font-size: 14px;
}


a {
  text-decoration: none !important;
  outline: 0 !important;

  &:focus {
    text-decoration: none !important;
    outline: 0 !important;
  }
  &:hover {
    text-decoration: none !important;
  }

  &:active {
    text-decoration: none !important;
  }

  &:-webkit-any-link {
    text-decoration: none !important;
  }
}

.nopadding-right {
   padding-right: 0 !important;
   margin-right: 0 !important;
}

.nopadding-left {
   padding-left: 0 !important;
   margin-left: 0 !important;
}

.nopadding-top {
   padding-top: 0 !important;
   margin-top: 0 !important;
}

.nopadding-bottom {
   padding-bottom: 0 !important;
   margin-bottom: 0 !important;
}
