@media all and (max-width: 1280px) {
  .navbar-container, .sub-container {
    padding: 0 50px;
  }

  .seed-feed {
    padding: 50px !important;
  }


}

@media all and (max-width: 980px) {

}

@media all and (max-width: 736px) {
  .seed-feed {
    padding: 0 !important;
  }



 }

@media all and (max-width: 480px) {

  .navbar-container {
    padding: 0 5px;
  }


}
