<p><%= @user.pseudo %>, avec Pickalgo prenez part à un concept inédit</p>
<ul>
  <li><strong>Découvrez</strong> les meilleurs nouveautés dénichées par les membres de notre communauté</li>
  <li><strong>Présentez</strong> nous à votre tour vos plus belles découvertes</li>
  <li><strong>Décidez</strong> du prix que vous êtes prêt à payer pour les nouveautés qui vous plaisent.</li>
</ul>


<p>Notre mission: faire parvenir au vendeur toutes les propositions d'achat de ceux qui aiment un son produit.</p>

<p>L'objectif: aider le vendeur à trouver <b>LE PRIX</b>  qui permet au plus grand nombre d'obtenir son produit, tout en optimisant sa rentabilité.</p>



