<p><%= @user.pseudo %>, bienvenue sur Seedlap</p>

<p>Sur Seedlap c'est la communauté et donc vous qui décidez des prix!</p>

<p>Découvrez et présentez dès maintenant vos plus belles découvertes aux membres. </p>

<p>Chacun selon son ressenti (ou son budget) nous fait part du montant qu'il est prêt payer pour les produits  ou services qui l'intéressent</p>

<p>Nous collectons et analysons toutes les propositions d'achats</p>

