.infos-container{
  max-width: 1100px;
  margin: 0 auto;
}



.content-box{
  min-height: calc(100vh - 200px);
  flex: 0 0 75%;

  h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
  }

  .intro{
    font-size: 19px;
    text-align: justify;
  }

  .help-link{
    border-bottom: 3px solid rgba(106, 194, 239, 0.6);
    box-shadow: inset 0 -5px 0 rgba(106, 194, 239,0.38);
  }

  a{
    color: inherit;
    font-size: 18px;
  }

  ul{
    margin-top: 30px;
  }

  .card-faqs {
    padding-top: 50px;
  }

  h3{
    font-size: 23px;
  }

  p{
    font-size: 18px;
  }


}



.faq-feed {
  max-width: 1100px;
  flex: 0 0 100%;
  margin-bottom: 0px;

  .row-head {

  }
}

.infos-container {
  display: flex;
  flex-wrap: wrap;
  .selected-category {
    font-weight: normal;
    p {
      color: $blue;
    }
  }

  .navigation-menu {
    flex: 0 0 15%;
    margin-right: 10%;
  }

  .menu {
    display: flex;
    align-items: center;
    font-size: 13px;
    transition: all 0.1s;
    padding: 3px 10px 3px 10px;
    margin-bottom: 2px;
    color: #4d4d5e;
    border-radius: 25px;

    p {
      margin: 0;
    }
    &:hover {
      background-color: #F1F3F4;
      padding: 3px 10px 3px 10px;
      margin-bottom: 2px;
      color: $blue;
      border-radius: 25px;
    }
  }

  .filter-icon {
    background-color: #ff6d43;
    padding: 3px;
    border-radius: 5px;
    color: #FFF;
    margin-right: 10px;
    font-size: 18px;
  }

}
.panel-group .panel {
    margin-bottom: 10px;
    border-radius: 2px;
}

.panel-body {
  padding: 0 15px 15px;
}

.body-panel {
  padding: 20px;
  font-size: 20px;
}

.faq-title {
  font-size: 25px;
  margin: 0;
}

 .topic {
   background-color: $white;
   border-radius: 2px;
   transition: all 0.15s ease;
   border: 1px solid #e8e8e8;


  .fa {
    font-size: 23px;
    padding-right: 15px;
  }

   a {
    text-decoration: none;
    display: flex;
    flex: 0 0 100%;
    padding: 20px;
    font-weight: 600;

   }
 }

 .questions-and-answers {
  div {
    &:focus {
    outline: none !important;
    }
  }
 }

 .custom-table {
   margin-top: 20px;
   display: flex;
   flex-wrap: wrap;
 }

 .regroup {
   padding: 5px 10px;
   background-color: #f1f8fc;
   border-radius: 5px;
   background: linear-gradient(#fff, #e4e4e9);
   box-shadow: 0 2px -1px -1px rgba(45, 35, 66, 0.3), 0 1px 2px 0 rgba(45, 35, 66, 0.4), inset 0 -2px 0 0 #cfd1e3;
   transition: box-shadow 0.15s ease, transform 0.15s ease, -webkit-transform 0.15s ease;
   flex: 0 0 45%;
   margin: 5px;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   &:hover {
    box-shadow: 0 7px 14px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #cfd1e3;
        transition: box-shadow 0.15s ease, transform 0.15s ease, -webkit-transform 0.15s ease;
   }
 }

 .idea {
   color: #337AB5;
   font-weight: bold;
   text-align: center;
 }

 .problem {
  display: none;
  padding: 10px;
  text-align: justify;
 }


  .panel-default > .panel-heading {
    background-color: $blue;
    color: white;
  }

  .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border: none;
  }

@media all and (max-width: 768px) {
  .infos-container .navigation-menu {
      flex: 0 0 25%;
  }

  .content-box {
    flex: 0 0 65%;
  }

  .regroup {
    flex: 0 0 100%;
    margin: 5px 0;
  }

 }

@media all and (max-width: 480px) {

  .infos-container .navigation-menu {
      flex: 0 0 100%;
      margin-right: 0%;
      margin-top: 10px;
  }

  .content-box {
    flex: 0 0 100%;
    margin-top: 40px;
  }


}


