

.container-home {
  max-width: 100%;
  font-family: Helvetica;
}

.nav-and-banner {
  position: relative;
  background: linear-gradient(-225deg, rgba(0, 101, 168, 1) 30%, rgba(38, 208, 206, 0.7) 50%);
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 99%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 99%, 0 85%);

}

.banner-container {
  position: absolute;
  z-index: 100;
}

#pick-image {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  right: 0;
}




.boucing-icon {
  position: relative;
  bottom: 70px;
  right: 50px;
}

.fa-arrow-circle-down {
  font-size: 70px;
  color: $blue;

}


.header-home {
  width: 90%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  height: 70px;
  margin-bottom: 0px;

}

.logo-and-log {
  width: 100%;
  display: flex;
  justify-content: space-between

}


#logo-home {
  font-size: 25px;
  font-style: italic;
  color: white;
  margin-right: 4px;
  a {
  text-decoration: none;
   &:hover{
    text-decoration: none;
    color: white;
   }
  }
}

#logo-home {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.connect-button {
  .btn {
    border-radius: 50px;
    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
  }
}

.email-box {
  background-color: white;
}

.remember-box {
  display: flex;
  align-items: center;
  margin: 4px 0;
  padding: 0 0 0 1px;

}

#user_remember_me {
  margin: 0 2px 0 0;
}

.login-form {
  display: flex;


  .email {
    padding: 0 10px;
  }

  input {
    font-size: 13px;
    margin: 0;
  }

  label {
    color: white;
    font-size: 13px;
    margin: 0;
  }



  .password {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
  }

  .forgot-link {
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin: 4px 0;
    padding: 0 0 0 1px;
  }


  .validate-zone {
    padding: 0 10px;
  }
}

.forgot-modal {
  height: 0;
}



.banner-container {
    width: 90%;
    margin: 0 auto;
    height: 65vh;
    padding-top: 70px;
    color: #FFFFFF;
    position: relative;

  }


  .moto-centered {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }

  .concept {
    margin: 50px 0 0 0;
    max-width: 450px;


    p {
      font-size: 25px;
    }
  }


  .join-us-now {
    border-radius: 22px;
    border: 3px solid white;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 40px;
    font-size: 15px;
    margin-top: 40px;
    color: #333333;

    &:hover {
      color: $blue;

    }

  }

.features {
  background: linear-gradient(160deg, #fff 30%, $blue 30%, $blue 50%, #fff 50%, #fff 50.5%, $blue 50.5%, $blue 50.7%, #fff 50.7%)
}



  .all-features {
      width: 100%;
      padding: 15px;
      max-width: 1300px;
      margin: 40px auto;

    }





  .image-and-explanation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;

  }

  .img-container {
    flex: 0 35%
  }



  .explanation-text {
    color: #333333;
    flex: 0 65%;
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);


    h3 {
      font-size: 45px;
      margin: 0 0 15px;
      font-style: italic;
      color: $red;
    }


    p {
      font-size: 20px;
      text-align: justify;

    }

  }

  .icon-header-body {
    margin-top: 35px;
    margin-left: 50px;
  }

  .icon-header {
    display: flex;
    align-items: center;
    margin: 0 0 15px;
    .fa {
      font-size: 45px;
      color: $blue;
    }
    h4 {
      font-size: 35px;
      margin: 0 15px;
    }

  }

  #puppy, #puppy-xs {
    max-width: 100%;
    border-radius: 40%;
  }

  #roar {
    max-width: 100%;
    border-radius: 25%;
  }

  #victory, #victory-xs {
    max-width: 100%;
    border-radius: 5px;
    border: 10px solid $blue;
  }



  .form-space {
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 100px;

  }


  #new_user {
    display: flex;
    flex-direction: column;
  }

  input {
    margin: 7px;
    padding: 0 5px 0 5px;
    font-size: 13px;
  }


  label {
    color: white;
    font-size: 14px;
    margin-bottom: 0;
    margin-right: 10px;
  }



@media screen and (max-width: 480px) {

  .header-home {
    height: 50px;
  }

  .logo-box {
    padding: 0 0 0 10px;
  }

  #logo-home {
  font-size: 25px;
  padding-top: 10px;
  }

  .banner-content {
    margin: 0;
  }

  .logo-and-log {
    padding-top: 30px;
  }




  .login-form {



    .email {
      padding: 0;
    }

    input {
      font-size: 20px;
      margin: 4px;
    }

    label {
      color: white;
      font-size: 14px;
    }


    .password {
      padding: 0px;
      display: flex;
      flex-direction: column;
    }

    .forgot-link {
      text-decoration: none;
      color: white;
    }


    .validate-zone {
      padding: 10px 0px;
      display: flex;
      justify-content: center;
    }


  }

  .form-action {
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 3px;
  }


  .banner-container {
    padding-top: 55px;
  }

  .moto-centered {
    font-size: 23px;
    text-align: center;
  }

  .concept {
    text-align: center;
    p {
    font-size: 18px;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    }
  }


  .join-us-now {
    font-weight: bold;
    padding: 5px 20px;
    font-size: 13px;
    margin-top: 25px;
  }

  .connect-button .btn {
      padding: 5px;
      font-size: 12px;
  }

  #pick-image {
    width: 250px;
  }


  .boucing-icon {
    bottom: 45px;
    right: 17px;
  }

  .fa-arrow-circle-down {
    font-size: 50px;
  }

  .how-it-works {
    padding: 15px 20px;
  }

  .all-features {
    margin: 0;
  }

}

.bounce {
  position: relative;
  cursor: pointer;
  display: inline-block;
  -moz-animation: bounce 2s infinite linear;
  -o-animation: bounce 2s infinite linear;
  -webkit-animation: bounce 2s infinite linear;
  animation: bounce 2s infinite linear;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}



