

.container-home {
  width: 100%;
  font-family: Helvetica;
}

.nav-and-banner {
  background-image: linear-gradient(-225deg, rgba(0, 101, 168, 1) 30%, rgba(38, 208, 206, 0.6) 50%), url("pick.jpg");
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 95%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 95%, 0 85%);


}

.header-home {
  width: 90%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  height: 70px;
  margin-bottom: 0px;

}

.logo-and-log {
  width: 100%;
  display: flex;
  justify-content: space-between

}


#logo-home {
  font-size: 25px;
  font-style: italic;
  color: white;
  margin-right: 4px;
  a {
  text-decoration: none;
   &:hover{
    text-decoration: none;
    color: white;
   }
  }
}

#logo-home {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.connect-button {
  .btn {
    border-radius: 50px;
    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
  }
}

.email-box {
  background-color: white;
}

.remember-box {
  display: flex;
  align-items: center;
  margin: 4px 0;
  padding: 0 0 0 1px;

}

#user_remember_me {
  margin: 0 2px 0 0;
}

.login-form {
  display: flex;


  .email {
    padding: 0 10px;
  }

  input {
    font-size: 13px;
    margin: 0;
  }

  label {
    color: white;
    font-size: 13px;
    margin: 0;
  }



  .password {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
  }

  .forgot-link {
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin: 4px 0;
    padding: 0 0 0 1px;
  }


  .validate-zone {
    padding: 0 10px;
  }
}

.forgot-modal {
  height: 0;
}



.banner-container {
    width: 90%;
    margin: 0 auto;
    height: 65vh;
    padding-top: 70px;
    color: #FFFFFF;
  }


  .moto-centered {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }

  .concept {
    margin: 50px 0 0 0;
    max-width: 450px;


    p {
      font-size: 25px;
    }
  }


  .join-us-now {
    border-radius: 22px;
    border: 3px solid white;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 40px;
    font-size: 15px;
    margin-top: 40px;
    color: #333333;

    &:hover {
      color: $blue;

    }

  }

  .how-it-works {
    margin: 0 auto;
    color: #333333;
    padding: 0 60px 30px 60px;

    .italic-statement {
      font-style: italic;
      color: $red;
      font-size: 17px;
    }


    p {
      font-size: 15px;
      margin-bottom: 2px;
    }
  }

  .icon-header-body {
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1), 1px 1px 1px rgba(0,0,0,0.07);

  }

  .icon-header{
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    h3 {
      margin: 0;
      font-size: 20px;
    }


    .fa {
      font-size: 30px;
      margin-right: 10px;
      color: $blue;
    }

    .fa-hand-lizard-o {
      padding: 0;
      font-size: 30px;
    }

    .fa-money {
      color: #2ecc71;
    }

    .fa-share-alt {
      color: #FDB631;
    }

  }



  .form-space {
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 100px;

  }


  #new_user {
    display: flex;
    flex-direction: column;
  }

  input {
    margin: 7px;
    padding: 0 5px 0 5px;
    font-size: 13px;
  }

  .btn-primary {
    padding: 10px;
    font-size: 17px;
    margin: 20px 0 0 0;
    background-color: $red;
  }

  label {
    color: white;
    font-size: 14px;
    margin-bottom: 0;
    margin-right: 10px;
  }



@media screen and (max-width: 480px) {

  .header-home {
    height: 50px;
  }

  .logo-box {
    padding: 0 0 0 10px;
  }

  #logo-home {
  font-size: 25px;
  padding-top: 10px;
  }

  .banner-content {
    margin: 0;
  }

  .logo-and-log {
    padding-top: 30px;
  }




  .login-form {



    .email {
      padding: 0;
    }

    input {
      font-size: 20px;
      margin: 4px;
    }

    label {
      color: white;
      font-size: 14px;
    }


    .password {
      padding: 0px;
      display: flex;
      flex-direction: column;
    }

    .forgot-link {
      text-decoration: none;
      color: white;
    }


    .validate-zone {
      padding: 10px 0px;
      display: flex;
      justify-content: center;
    }


  }

  .form-action {
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 3px;
  }


  .banner-content  {
    width: 100%;
    padding: 50px 10px;

    .teaser-seedoak {
      display: block;
      text-align: center;
    }


    h2 {
      font-size: 29px;
    }


    .form-space {
      padding: 50px 0;
    }

    #new_user {
      padding: 0 25px;
    }

    input#user_email.email-input {
      background-color: white;
    }
  }

}

