<div class="title-and-data">
  <div class="title">Carte:</div>
  <div class="data">
    <div class="stripe-block"><%= customer_infos["brand"]%></div>
    <div class="stripe-block">
      <i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><%= customer_infos["last4"] %>
    </div>
    <div class="stripe-block">
      <%= customer_infos["exp_month"]%>/<%= customer_infos["exp_year"] %>
    </div>
  </div>
</div>
