<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, input_html: { id: 'forgot-email' }  %>
  </div>

  <div id="reset-password-button">
    <%= f.button :submit, "Envoyer instructions", class: "btn seedlap" %>
  </div>
<% end %>
