


.pick-content {
  max-width: 1100px;
  flex: 0 0 100%;

  .title-and-export {
    display: flex;
    align-items: center;
  }


  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }



}

.export-link {
  background-color: $red;
  border-radius: 2px;
  padding: 5px 10px;
  margin-left: 15px;
  margin-right: 5px;

  a {
    color: white;
    text-decoration: none

  }
}

.pick-data {
  display: flex;
}

.column {
  border-top: solid 1px;
  border-left: solid 1px;
  border-bottom: solid 1px;

  h4 {
    margin: 0;
    padding: 0 10px;
    border-bottom: solid 1px;
    background-color: $blue;
    color: white;
  }

  p {
    padding: 0 10px;
    margin: 0;
  }
}

.last {
  border-right: solid 1px;
}
