.pick-new-xs {
  .title {
    background: linear-gradient(to right, #3e2995 0, #337b80 50%, #337b80 50%, #3f937d 100%);
    color: #FFFFFF;
    padding: 7px 20px;
  }

  h1 {
    font-size: 20px;
    margin: 0;
  }

  .pick-form {
    padding: 15px;
  }

  .action-links {
    display: flex;
    justify-content: flex-end,
  }

  .btn-return {
    border: 1px solid;
    border-radius: 50px;
    padding: 10px 12px;
    margin-right: 10px;
    background-color: inherit;
  }

  a {
  color:inherit;
  text-decoration: none;
  }

}


