.pick-details-container {
  padding: 50px;
  background-color: #F1F1F1;
  min-height: calc(100vh - 70px);
}

.pick-detail {
  padding: 30px 60px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  background-color: #FFFFFF;
}
