.pick-details-container {
  padding: 40px 0 0;

  .pick-title{
    margin-top: 0;
    margin-bottom: 30px;
  }

  h3{
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 19px;
  }


}

.pick-detail {
  padding: 30px 60px;
  border-radius: 5px;
  text-align: center;
}

.ship-and-payment{
  margin: 0 auto;
  border: 1px solid #ddd;
  width: 80%;
  display: flex;

    .item{
      padding: 6px;
      text-align: left;
    }

    .ship{
      flex: 1;
      border-right: 1px solid #ddd;

    }

    .fa{
      font-size: 13px;
    }

    .payment{
      flex: 1;
    }
}

.address-input{
  font-size: 14px;
}

.card-input{
  font-size: 14px;
}

.pick-status{
  margin-bottom: 15px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 15px;
  background: #fceb97;
  margin: 0 auto;
  width: 80%;
  text-align: left;
}

.exchange-header {
  margin-bottom: 15px;
  border: 1px solid $orange;
  padding: 8px;
  background: $orange;
  text-align: center;
  border-radius: 10px;
  color: #FFF;
}

.exchanges-and-questions {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  margin-top: 30px;
}

.all-messages {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;


}

.message-block {
  display: block;
  text-align: left;
  padding: 6px 12px;
  border-bottom: 1px solid #dddddd;
  background-color: #FFF;

  .avatar-author-date {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 15px;
    color: #999999;
  }

  .pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .author-and-date{
    margin-left: 5px;
  }
}

.admin {
  background-color: #f1f8fc;
}

.validate-link {
  margin: 20px 0;
  color: $blue;
  .btn-default {
    border-radius: 50px !important;
    border: 3px solid $red !important;
    color: $red !important;
    padding: 6px 12px !important;
    font-size: 15px !important;

  }
}

#exchanges, #exchange_form {
  text-align: center;
  margin-bottom: 25px;
  .btn-default {
    border-radius: 50px !important;
    border: 3px solid $blue !important;
    color: #FFF !important;
    background-color: $blue;
    padding: 6px 12px !important;
    font-size: 16px !important;
  }
}

#exchange_question {
  width: 100%;
  height: 80px;
  padding: 5px 10px;
  border: 1px solid $blue;
  border-radius: 5px;
}

.post-question {
  margin-top: 20px;
  text-align: right;
}

.recap-and-pay {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.stripe-card-form {
  margin-left: 30px;
  flex: 0 0 60%;
  background-color: #FFF;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px 20px 30px;
}

.link-container {
  margin-top: 15px;
  text-align: right;
}

.edit-card-link {
  border: 1px solid $blue;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: $blue;
  color: #FFF;
  &:hover {
    color: #FFF;
  }
}



@media(max-width: 992px) {

  }

  @media(max-width: 768px) {
  .stripe-card-form {
    flex: 0 0 100%;
    margin-left: 0;
    border-radius: 0;
    box-shadow: none;
  }

    }

    @media(max-width: 480px) {

    .pick-details-container {
      padding: 0 15px;
    }

    .pick-detail {
      padding: 15px 0 0 0;
      min-height: calc(100vh - 70px);
      h2{
        font-size : 28px;
      }

    }

    .exchanges-and-questions {
      width: 90%;
      margin-top: 30px;
    }

    .pick-status {
      width: 90%;
    }

    .ship-and-payment {
      width: 90%;
    }



    }



