.container {
  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

}



.product {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  border: 1px;
  border-style: solid;
  padding: 15px;
  border-color: #e8e8e8;
}

/* Body design */
.product-body {
  flex: 1 1 auto;

}
.product-body h3 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 1px;
}
.product-body p {
  color: #999999;
  margin-bottom: 0;
  font-size: 13px;
}

/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;
  height: 85px;
  width: 85px;

}

/* Upvote design */
.product-upvote {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
}
.product-count {
  margin: 2px 0 0;
}
.product-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

.seeder-picture {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/* Hover effects */
.product:hover {
  background: #f7f7fa;
  cursor: pointer;
}
.product-upvote:hover, .product-upvote.product-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.product-upvote-upvoted .product-arrow {
  border-bottom-color: #5898f1;
}
// .product:hover .product-upvote {
//   transform: scale(1.2)
// }
.product:hover .product-controls-hidden a {
  color: #E6E6E6;
}
.product-upvote:hover .product-arrow {
  border-bottom: 9px solid #5898f1;
}
