



.page-container {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;

}


.seed-feed {
  max-width: 1100px;
  flex: 0 0 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 0px;
}




.filter-xs {

  .glyphicon-filter {
    color: #FFF;
    font-size: 14px;
  }

  .glyphicon-globe {
    color: #FFF;
  }

  .glyphicon-th-list {
    color: #FFF;
    font-size: 14px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }



  #fixed-modal-trigger  {
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px 14px;
    background-color: $blue;
    border-radius: 50%;
    text-decoration: none;
    outline: none;
  }

  #fixed-modal-trigger-cat {
    position: fixed;
    left: 10px;
    bottom: 10px;
    padding: 10px 14px;
    background-color: $blue;
    border-radius: 50%;
    text-decoration: none;
    outline: none;
  }

  .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
  }
  .modal-content {
    height: 100%;
    border-radius: 0;
    overflow:auto;
    background: linear-gradient(-225deg, #1a2980, #26d0ce 50%);
    background: -webkit-linear-gradient(left, #1a2980, #26d0ce); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,#1a2980, #26d0ce); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,#1a2980, #26d0ce); /* For Firefox 3.6 to 15 */
  }

  .modal-header {
    color: white;
    text-align: center;
  }

  .modal-title {
    font-size: 25px;
  }

  .filter-before {
    color: #FFFFFF;
    font-size: 17px;
  }

  .xs-fa {
    font-size: 30px;
  }

  .sub-categories {
    width: 50%;
  }

  .fa-toggle-on {
    color: #FFFFFF;
  }


  .selected-category {
    display: flex;
    align-items: center;
    transition: all 0.1s;
    padding: 5px 13px 5px 13px;
    margin-bottom: 2px;
    box-shadow: none;
    color: white;


    &:hover{
      background-color: inherit;
    }


    a {
      text-decoration: none;
    }
    p {
      margin: 0;
      font-weight: bold;
      text-decoration: underline;
      font-size: 15px;


    }

  }

  .inactive {
    background-color: inherit;
  }



  .validate-filter {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #FFFFFF;
    color: $blue;
    padding: 4px 12px;
  }
}





a:hover {
    text-decoration: none;

  }

.categories {
  flex: 0 0 15%;
  margin-right: 70px;
  position: sticky;
  top: 30px;

  a {
    text-decoration: none;
    color: inherit;
  }

}

.filter-title {
}

.filter-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;

  p {
    margin: 0;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
  }
}


.fa-toggle-on {
  color: $blue;
  font-size: 20px;
  padding-right: 3px;
}





.categories-icon {
      height: 25px;
      margin-right: 15px;
      border-radius: 3px;

}

.name-and-count {
  display: flex;
  align-items: center;
}

.number-of-seeds {
  padding-left: 4px;
  font-size: 14px;

}


.sub-title {
  display: flex;
  align-items: center;
  font-size: 13px;
  transition: all 0.1s;
  padding: 3px 10px 3px 10px;
  margin-bottom: 2px;
  border: 1px solid #FFF;


    &:hover {
  border: 1px solid #e8e8e8;
  background-color: #FFFFFF;
  padding: 3px 10px 3px 10px;
  margin-bottom: 2px;
}
  a {
    text-decoration: none;
  }
  p {
    margin: 0;
  }
}

.selected-category {
  display: flex;
  align-items: center;
  font-size: 13px;
  transition: all 0.1s;
  padding: 5px 13px 5px 13px;
  margin-bottom: 2px;
  border: 1px solid #e8e8e8;

    &:hover {
  border: 1px solid #e8e8e8;
  background-color: #FFFFFF;
  padding: 5px 13px 5px 13px;
  margin-bottom: 2px;
}
  a {
    text-decoration: none;
  }
  p {
    margin: 0;
    font-weight: bold;
    text-decoration: underline;
  }

}


.seed-presentation {
  flex: 0 0 60%
}


.product {
  background-color: #FFFFFF;
  display: flex;
  border-radius: 2px;
  transition: all 0.15s ease;
  border: 1px solid #e8e8e8;
  padding: 15px;
}

/* Hover effects */
.product:hover {
  background: #f7f7fa;
  cursor: pointer;
}

/* Product image */
.product-image {
  border-radius: 3px; /*3px */
  margin-right: 15px;

}

/* Body design */
.product-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;

}

.product-body h3 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 8px;
  color: #3F3933;
}
.product-body p {
  color: #999999;
  margin-bottom: 0;
}

.seeder-picture {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.user-testimony {
  font-size: 13px;
  display: flex;
  align-items: center;

  .fa-user {
    font-size: 10px;
    background-color: #49c4f4;
    border-radius: 50%;
    padding: 8px;
    color: white;
  }

}

.user {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
 }
#pseudo {
  text-decoration: underline;
}

#seed-description {
  font-style: italic;
}


.bottom-sexion {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.product-category{
  display: flex;
  text-transform: uppercase;

  .sport {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: $red;
  }

  .enfants {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: $orange;
  }

  .animaux {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: $green;
  }

  .mode {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: $anis;
  }

  .beaute {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: $blueworld;
  }

  .loisirs {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: purple;
  }

  .maison {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: $blue;
  }

  .tech {
    border: 1px solid #e8e8e8;
    color: white;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    background-color: $darkgray;
  }




}

.social-overview {
  display: flex;
  align-items: flex-end;

  .icon-and-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    border: 1px solid #e8e8e8;
    color: #999999;
    border-radius: 3px;
    padding: 0 10px 0 10px;


    .glyphicon {
      top: 0;
      font-size: 14px;
    }

    .fa-hand-lizard {
      font-size: 14px;
      color: inherit;
      padding: 0;
    }

    p {
      margin: 0 0 0 7px;
      font-size: 14px;
    }
  }
}

#infinite-scrolling{
  display: none;
}






@media(max-width: 992px) {

  }

  @media(max-width: 768px) {

      .seed-presentation {
        flex: 0 0 60%;
        margin-right: auto;
        margin-left: auto;
      }
    }

    @media(max-width: 480px) {


      .seed-feed {
        margin: 0;
        width: 100%;
      }

      .seed-presentation {
        flex: 0 0 100%;
        padding: 0;
      }

      .product {
        padding: 10px;
      }

      .product-image{
        height:100px;
        width:100px;
      }


      .product-body {

        h3 {
          font-size: 16px;
        }
      }

      .social-overview .icon-and-number {
        margin-left: 5px;

        p {
          font-size: 10px;
        }
      }

      .seeder-picture{
        height: 35px;
        width:35px;
      }

      .product-category{
        p {
          font-size: 10px;
        }
      }

      .filter-header {
        p {
          color: darkgray;
          font-size: 16px;
        }
      }

      .sub-title{
        border: none;
        color: #FFFFFF;
        &:hover{
          background-color: inherit;
        }
      }

      .name-and-count{
        color: white;
        font-size: 15px;
      }

    }

