.page {
  width: 100%;

  .row {
    margin-right: 0;
    margin-left: 0;
  }
}

.form-post {
  background: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;

  .form-group {
    margin-bottom: 0;
    padding: 20px;
  }

.form-title {
    color: $blue;
    margin-bottom: 25px;
    margin-top: 0;
    text-align: center;
    font-size: 30px;
    font-family: $headers-font;
  }

  textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

label {
  font-weight: normal;
}

abbr {
  display: none;
}

  .form-action {
    padding: 10px;
    text-align: center;
  }

  .btn {
    width: 50%;
  }

  .control-label {
    font-size: 17px;
    text-align: left !important;
  }

  .input-block {
    font-size: 15px;
    font-weight: normal;
    color: $gray;
  }

  #photos-button {
    display: flex;
    justify-content: center;
  }

  .attachinary_container {
  }

  #seed_photos {
    height: 0px;
    overflow:hidden;
  }


  #add-video-button {
    display: flex;
    justify-content: center;
  }


}

.media-preview {
  padding: 0 20px;
}

.second-media-preview {
  padding: 0 20px;
}

#iframe {
  width: 100%;
}

#iframe-2 {
  width: 100%;
}


.chooseFile {
overflow: hidden;
text-decoration: none;
text-transform: uppercase;
color: $blue;
font-size: 14px;
text-align: center;
padding: 5px 14px;
margin-right: 15px;

}

.chooseVideo {
overflow: hidden;
text-decoration: none;
text-transform: uppercase;
color: $blue;
font-size: 14px;
text-align: center;
padding: 5px 14px;

}
