  .carousel-inner {
    height: 300px !important;
  }

  .carousel-indicators {

    bottom: -45px;

    li {
      background-color: gray;
      border: none;
      height: 16px;
      width: 16px;
      margin: 0 2px;
    }

    .active {
      background-color: $blue;
      color: $blue;
      height: 16px;
      width: 16px;
      margin: 0 2px;

    }


  }



.page-container {

  .page-sections {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    width: 1100px;
  }

  .header {
    padding: 10px 0;
    margin: 0;

    .head {
      margin: 0;
    }


    .title {
      padding: 0 0 0 5px;
      display: flex;
      justify-content: space-between;
       h1 {
        font-size: 22px;
        font-weight: bold;
        margin: 0;
      }
    }

    .timer-and-pick {
      display: flex;
      align-items: center;
      padding: 5px 0 0 0;


    }







    .seed-infos-timer {
      display: flex;
      align-items: center;
    }

    #clockdiv {
      display: flex;

      .smalltext {
        font-size: 11px;
      }
    }


    .dynamic-timer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 5px;
      color: $red;
    }
  }

  .has_picked {
    background-color: $blue;
    border-radius: 4px;
    color: white;
    margin: 0 0 0 20px;
    text-transform: uppercase;
    padding: 10px;
  }

  a {
  text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }
  a:focus {
    text-decoration: none;
  }

  .btn {
    margin: 0;
    border: none;
  }

  .btn-primary {
    border: none;
  }

  .pick-link {
    display: flex;
    align-items: center;
    margin-left: 20px;
    text-decoration: none;
    background-color: $orange;
    box-shadow: 0 3px 0 #f26a41;


    .fa-hand-lizard {
      font-size: 20px;
      color: white;
      padding: 0;
    }


    p {
      margin: 0 0 0 10px;
      font-size: 18px;
      color: white;
    }


  }

  .pick-modal {
    .modal {
    text-align: center;
    padding: 0!important;
    color: #FFFFFF;

    .modal-title{
      text-align: center;
    }

    .modal-content {
      background: linear-gradient(to right, #3e2995 0, #337b80 50%, #337b80 50%, #3f937d 100%);

    }

    h3 {
      text-align: center;
    }
  }



  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: 0;
    border-radius: 10px;
  }


  }

  .modal-body{
    padding: 15px 15px 35px 15px !important;
  }

  .modal-footer{
    border-top: none !important;

    .action-links{
      display: flex;
      width: 100%;
    }

    .mid-width{
      flex: 0 0 50%;
    }

    .seedlap{
      width: 100%;
    }
  }




  .body {
    padding: 0;
    margin: 0;
  }


  .left-section {
    background-color: #FFFFFF;
    margin-right: 20px;



    .item {
        text-align: center;
        img {
            margin: 0 auto;
        }
      }




    .seed-media {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      border: solid 1px rgba(0,0,0,0.1);
      border-radius: 5px;

    }

    .seed-photos {
      text-align: center;
      padding: 0 20px;
    }

    iframe {
      height: 300px;
      width: 100%;
    }



    .signal {
      a {
      text-decoration: none;
      color: inherit;
      }
    }

    .seed-social {
      display: flex;
      justify-content: center;
      margin-top: 45px;

      .glyphicon {
        color: #282828;
      }

      p {
        color: #282828;
      }
    }


    .social-category {
      display: flex;
      align-items: center;
      padding: 10px;

      p {
        margin: 0;
      }
    }

    .signal-box {
      display: flex;
      align-items: baseline;
    }

    .seed-signaled {
      .glyphicon-exclamation-sign {
        color: $blue;
      }
      p {
        color: $blue;
      }
    }

    .media-filter-icon {
      padding: 0 5px;
    }

    .action-count {
      padding: 0 5px;

    }

    .show-seed-description {
      padding: 15px 0;
    }





  }

}

.seeder {
  display: flex;
  align-items: flex-start;
  padding: 0 20px;
  .fa-user{
   font-size: 17px;
   background-color: $blue;
   border-radius: 50%;
   padding: 10px;
   color: white;
  }
}



.seeder-picture-big {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-show {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  p{
    margin: 0;
  }

  #pseudo-bold {
    font-weight: bold;
    margin: 0;
    color: #270000;
  }

  .post-date {
    color: #7A7A7A;
    p {
      margin: 0 0 5px;
    }
  }

  #other_posts_link {
    cursor: pointer;
    text-decoration: underline;
  }

  .other_posts {
    display: none;
    p {
      margin: 5px 0 0 0;
    }
  }



  .seeder-infos-media {
    cursor: pointer;
  }
}

.social-card-user {
  margin-top: 5px;
}

.mini-bio {
  text-align: justify;
  margin-bottom: 10px;
}


.social-group {
  padding: 0;
  p{
    margin: 0 0 5px 0;
    color: black;
  }
  .kill-padding {
    padding: 0;
    margin: 5px 0;
  }

  .icon-and-pseudo{
    display: flex;
    align-items: center;
    img{
      height: 35px;
      margin-right: 9px;
    }
    p{
      margin: 0;
    }
  }

  .fa {

    font-size: 25px;
    text-align: center;
    text-decoration: none;
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

  }

  .fa-instagram {
    color: white;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }

  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }


}
.descriptif-content {
     margin: 15px;
   }


  .pick-seed {
    display: flex;

    a {
      text-decoration: none;
      color: inherit;
    }

    a:hover {
      text-decoration: none;

    }
  }

  .pick-box {
    padding-right: 0px;
  }

  .pick-section {


    .pick-title {
      color: white;
      font-size: 20px;
      font-family: $headers-font;
      background-color: $blue;
      margin: 0;
      padding: 12px 5px;
    }

  }

  .pick-form {
    padding: 0 15px;
  }

  .price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;

    p {
      margin: 0 10px 0 0;
    }

    .form-control {
      width: 25%;
      border-radius: 5px;
    }
  }

  .submit-pick {
    text-align: center;
    padding-top: 20px;
  }


  #btn-pick {
      border-radius: 50px;
      color: white;
      background-color: $orange;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 12px;
      font-size: 15px;

  }

  .counter-body {
    color: $blue;
    margin-left: -10px;
    text-align: center;
    display: table;
  }

  .counter {
    display: table-cell;
    margin:1.5%;
    font-size:30px;
    background-color: #FFFFFF;
    width: 70px;
    border-radius: 50%;
    height: 70px;
    vertical-align: middle;
  }

  .pick-bar-xs  {
    position: fixed;
    bottom: 0px;
    background-color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    width: 100%;
    padding: 10px;
    box-shadow: 0px -8px 10px 1px rgba(217,208,217,1);

    .fa-hand-lizard {
      color: white;
      padding: 0;
      margin-right: 15px;
    }

    p {
      color: white;
      margin: 0 5px;
      font-size: 20px;
    }
  }

  .picked-bar-xs  {
    position: fixed;
    bottom: 0px;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    width: 100%;
    padding: 10px;
    box-shadow: 0px -8px 10px 1px rgba(217,208,217,1);


    p {
      color: white;
      margin: 0;
      font-size: 20px;
    }

  }

  .official-description{
    background-color: #F9F9F9;
    min-height: 321px;
    border-radius: 5px;
    padding: 20px;
    border-color: #d4d4d4;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
    position: relative;
    h2 {
      font-size:30px;
      margin-top:0px;
    }
    .pick-link, .has_picked{
      position: absolute;
      bottom: 20px;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      height: 50px;
      p{
        font-size: 20px;
      }
      .fa-hand-lizard{
        font-size: 22px;
      }
    }
  }

  .internet-site {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    padding: 7px 10px;
    margin-top: 20px;
    &:hover{
      border-color: #d4d4d4;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
      .glyphicon {
        color: $blue;
      }
    }

    .glyphicon{
      color: #999999;
      margin-left: auto;
      font-size: 22px;
    }

  }

  .img-background{
    background-color: #999999;
    margin-right: 15px;
    padding: 10px;
    border-radius: 50%;

  }

  .link-img {
    height: 30px;
    width: 30px;
  }

  .display-link{
    color: #7A7A7A;
    h5{
      color: #000;
      margin:0;
    }
  }




@media(max-width: 992px) {

  }

  @media(max-width: 768px) {


    }

    @media(max-width: 480px) {

      .page-container .head .title h1 {
          font-size: 17px;
          font-weight: bold;
          margin: 0 0 5px 5px;

      }

    .page-container .left-section {
      margin-right: 0px;
      padding: 0;
    }

    .pick-form {
      padding: 0;
      h3{
        font-size: 22px;
      }
    }

    .price {
      margin-top: 25px;
      display: flex;
      align-items: center;

      p {
        margin: 0;
      }

      .form-control {
        margin-left: 10px;
        width: 60%;
      }

    }

  .page-container .left-section .seeder {
    padding: 0 15px;
    }

    .page-container .head  {
      .pick-link {
      display: flex;
      align-items: center;
      margin-left: 15px;
      text-decoration: none;
      background-color: $blue;


        .fa-hand-lizard {
          font-size: 15px;
          color: white;
          padding: 0;
        }


        p {
          margin: 0 0 0 10px;
          font-size: 14px;
          color: white;
        }
      }

      .has_picked {
        margin: 0;
        padding: 6px;
        margin-left: 15px;
      }


    }

    .carousel-inner {
      height: 200px !important;
      .img-seed {
        max-height: 200px;
        width: auto;
      }
    }


    .carousel-indicators {

      bottom: -45px;

      li {
        background-color: gray;
        border: none;
      }

      .active {
        background-color: $blue;
        color: $blue;
      }


    }

    .page-container .left-section .seed-social {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .page-container .left-section iframe {
      height: 200px;
      width: auto;
    }


  }
