  .carousel-inner {
    height: 300px !important;
  }

  .carousel-indicators {

    bottom: -45px;

    li {
      background-color: gray;
      border: none;
      height: 16px;
      width: 16px;
      margin: 0 2px;
    }

    .active {
      background-color: $blue;
      color: $blue;
      height: 16px;
      width: 16px;
      margin: 0 2px;

    }


  }



.page-container {

  .page-sections {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    width: 1100px;
  }

  .header {
    padding: 10px 0;
    margin: 0;

    .head {
      margin: 0;
    }


    .title {
      padding: 0 0 0 5px;
      display: flex;
      align-items: center;
       h1 {
        font-size: 22px;
        font-weight: bold;
        margin: 0;
      }
      .pending-infos {
        display: flex;
        align-items: center;
        background-color: $orange;
        padding: 7px 20px;
        border-radius: 5px;
        margin-left: 20px;
      }

      .fa-hourglass-start {
        color: #FFF;
        margin-right: 10px;
      }
      p {
        color: #FFF;
        margin: 0;
        font-size: 16px;
      }
    }

    .timer-and-pick {
      display: flex;
      align-items: center;
      padding: 10px 0 0 0;


    }







    .seed-infos-timer {
      display: flex;
      align-items: center;
    }

    #clockdiv {
      display: flex;

      .smalltext {
        font-size: 11px;
      }
    }


    .dynamic-timer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 5px;
      color: $blue;
    }
  }


  a {
  text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }
  a:focus {
    text-decoration: none;
  }



.pick-section {
  .btn-blue {
    margin-left: 20px;
  }
  .btn-orange {
    margin-left: 20px;

    p {
      margin: 0 0 0 10px;
      font-size: 18px;
      color: #FFFFFF;
    }
  }
}


  .body {
    padding: 0;
    margin: 0;
  }


  .left-section {
    margin-right: 20px;



    .item {
        text-align: center;
        img {
            margin: 0 auto;
        }
      }




    .seed-media {
      display: flex;
      flex-direction: column;
      padding: 20px 0 0;
      border: 1px solid #efefef;
      border-radius: 5px;
      margin-bottom: 20px;
      background-color: #FFFFFF;

    }

    .seed-photos {
      text-align: center;
      padding: 0 20px;
    }

    iframe {
      height: 300px;
      width: 100%;
    }



    .signal {
      a {
      text-decoration: none;
      color: inherit;
      }
    }

    .seed-social {
      display: flex;
      justify-content: center;
      margin-top: 45px;

      .glyphicon {
        color: #999999;
      }

      p {
        color: #999999;
      }
    }


    .social-category {
      display: flex;
      align-items: center;
      padding: 10px;

      p {
        margin: 0;
      }
    }

    .signal-box {
      display: flex;
      align-items: baseline;
    }

    .seed-signaled {
      .glyphicon-exclamation-sign {
        color: $blue;
      }
      p {
        color: $blue;
      }
    }

    .media-filter-icon {
      padding: 0 5px;
    }

    .action-count {
      padding: 0 5px;

    }

    .show-seed-description {
      padding: 15px 0;
    }





  }

}

.seeder {
  padding: 20px;
  border: 1px solid #efefef;
  border-radius: 5px;
  background-color: #FFFFFF;
  .seeder-show{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .fa-user{
   font-size: 17px;
   background-color: $blue;
   border-radius: 50%;
   padding: 10px;
   color: white;
  }
}



.seeder-picture-big {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-show {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  p{
    margin: 0;
  }

  #pseudo-bold {
    font-weight: bold;
    margin: 0;
    color: #270000;
  }

  .post-date {
    color: #7A7A7A;
    p {
      margin: 0 0 5px;
    }
  }

  #social_card_link {
    cursor: pointer;
    text-decoration: underline;
  }





  .seeder-infos-media {
    cursor: pointer;
  }
}

.social-card-user {
  padding: 15px 0 0 0px;
  display: none;
  flex: 0 0 100%;
}

.mini-bio {
  text-align: justify;
  margin-bottom: 15px;
  p{
    margin: 0;
  }
}


.social-group {
  padding: 0;
  color: #4d4d5e;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
  p{
    margin: 0 0 5px 0;
  }
  .seeder-media{
    color: #7A7A7A;
  }

  .icon-and-pseudo{
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    margin: 10px 0;
    img{
      height: 35px;
      margin-right: 9px;
    }
    p{
      margin: 0;
    }
  }

  .fa {

    font-size: 25px;
    text-align: center;
    text-decoration: none;
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

  }



}

.personal-description{
  flex: 0 0 100%;
  padding: 15px 0 0 0;
  h4{
    color: #4eb379;
    margin:0 0 3px;
  }
}
.descriptif-content {
     margin: 0;
     font-style: italic;
   }

  #other_posts_link{
    margin: 0;
    font-weight: bold;
    .other_posts{
      a {
        margin: 0;
      }
    }
  }


  .pick-seed {
    display: flex;

    a {
      text-decoration: none;
      color: inherit;
    }

    a:hover {
      text-decoration: none;

    }
  }

  .pick-box {
    padding-right: 0px;
  }

  .pick-section {


    .pick-title {
      color: white;
      font-size: 20px;
      font-family: $headers-font;
      background-color: $blue;
      margin: 0;
      padding: 12px 5px;
    }

  }

  .pick-form {
    .form-control {
      border-radius: 5px;
    }
    label {
      margin-bottom: 8px;
    }
  }

  .instruction {
    font-size: 20px;
    margin-bottom: 40px;
      a {
        color: $orange;
      }
    }

  .inputs-and-recap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .pick-inputs {
    flex: 0 0 40%;
  }

  .price {
    position: relative;

    .unit {
      position: absolute;
      display: block;
      top: 34px;
      right: 3%;
      z-index: 9;
    }
  }

  #size-label {
    margin-top: 20px;
  }


  .end-block {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px;
    flex: 0 0 100%;
  }

  .recap-animation {
    flex: 0 0 50%;
    margin-left: 5%;
    margin-top: auto;

    p {
      font-size: 16px;
      font-weight: bold;
      text-decoration: underline;
      margin: 0 0 3px 0;
    }
    .how-much {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      flex: 0 0 100%;
      .last-text {
        font-weight: bold;
        border-bottom: 3px solid rgba(106, 194, 239, 0.6);
        box-shadow: inset 0 -5px 0 rgba(106, 194, 239, 0.38);
      }

      .cout {
        display: flex;
      }
      p {
        margin-left: 3px;
        text-decoration: none;
        font-weight: normal;
      }
    }
  }


  .pick-counter {
    font-size: 15px;
  }


  .totalcounter {
    font-size: 20px;
    color: $orange;
    font-weight: bold;
  }

  #color-euro {
    font-size: 20px;
    color: #ff6d43;
    font-weight: bold;
  }

  .pick-bar-xs  {
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    width: 100%;
    padding: 10px;
    background: -webkit-gradient(linear, left top, right bottom, from(#f5af19), to($orange));
    background: linear-gradient(#f5af19, $orange);
    -webkit-box-shadow: 0 7px 13px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #ce870c;
    box-shadow: 0 7px 13px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #ce870c;


    p {
      color: white;
      margin: 0 10px;
      font-size: 20px;
    }

    .pick-icon {
      height: 15px;
    }
  }

  .picked-bar-xs  {
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    width: 100%;
    padding: 10px;
    background: -webkit-gradient(linear, left top, right bottom, from($blue), to(#3e2995));
    background: linear-gradient($blue, #3e2995);
    -webkit-box-shadow: 0 7px 14px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #2e1e72;
    box-shadow: 0 7px 14px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #2e1e72;


    .has_picked {
      color: white;
      margin: 0;
      font-size: 20px;
    }

  }

  .official-description{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #efefef;
    h2 {
      font-size:30px;
      margin-top:0px;
    }
  }

  .descritpion-text {
    max-height: calc(589px - 42px - 44px - 85px - 85px - 90px);
    overflow: auto;
    line-height: 1.6;
    background-color: rgba(0, 0, 0, 0.03);
    border-left: 3px solid rgba(0, 0, 0, 0.1);;
    padding: 10px;
    text-align: justify;
  }

  .internet-site {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    padding: 7px 10px;
    margin-top: 25px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
    &:hover{
      border-color: #d4d4d4;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
      .glyphicon {
        color: $orange;
      }
    }

    .glyphicon{
      color: #999999;
      margin-left: auto;
      font-size: 22px;
    }

  }


  .link-img {
    height: 35px;
    width: 35px;
    margin-right: 15px;
  }

  .display-link{
    color: #7A7A7A;
    h5{
      color: #000;
      margin:0;
      font-size:19px;
    }
  }

  .action-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #e6e6e6;
    padding-top: 20px;
    margin-top: 20px;


    .btn-cancel {
      border-radius: 50px !important;
      border: 3px solid #4d4d5e;
      color: #4d4d5e;
      background-color: inherit;
      text-transform: uppercase;
      padding: 10px;
      font-size: 15px;
      margin-right: 10px;
    }
  }

  .modal-body-guide {
    padding: 10px 20px;
  }

  .pick-guide-title {
    font-size: 22px;
    color: $orange;
    text-align: left !important;
  }

  .pick-guide-p {
    font-size: 16px;
    text-align: justify;
  }




@media(max-width: 992px) {

  }

  @media(max-width: 768px) {
    .page-container .header {
        padding: 10px 5px;
        margin: 0;
    }

    .pick-inputs {
      flex: 0 0 100%;
    }

    .recap-animation {
      flex: 0 0 100%;
      margin: 30px 0;
    }
    .price .unit {
        top: 35px;
    }

    #delivery-info {
      font-size: 14px;
      margin: 25px 0;
    }

    .instruction {
      font-size: 16px;
    }

  }

    @media(max-width: 480px) {


      .page-container .head .title h1 {
          font-size: 17px;
          font-weight: bold;
          margin: 0 0 5px 5px;

      }

    .page-container .left-section {
      margin-right: 0px;
      padding: 0;
    }

    .pick-form {
      padding: 0;
      h3{
        font-size: 22px;
      }
    }


  .page-container .left-section .seed-media {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  .page-container .left-section .seeder {
    padding: 15px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    }

    .page-container .head  {
      .pick-link {
      display: flex;
      align-items: center;
      margin-left: 15px;
      text-decoration: none;
      background-color: $blue;


        p {
          margin: 0 0 0 10px;
          font-size: 14px;
          color: white;
        }
      }

      .has_picked {
        margin: 0;
        padding: 6px;
        margin-left: 15px;
      }


    }

    .carousel-inner {
      height: 200px !important;
      .img-seed {
        max-height: 200px;
        width: auto;
      }
    }


    .carousel-indicators {

      bottom: -45px;

      li {
        background-color: gray;
        border: none;
      }

      .active {
        background-color: $blue;
        color: $blue;
      }


    }

    .page-container .left-section .seed-social {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .page-container .left-section .seed-photos {
      padding: 0;
    }

    .page-container .left-section iframe {
      height: 200px;
      width: auto;
    }

    .internet-site{
      padding: 5px;
    }


    .official-description{
      padding: 15px 10px;
      margin-top: 20px;
      border-radius: 0;
      border-left: none;
      border-right: none;

      h2{
        padding: 0 15px;
      }
    }
    .descritpion-text{
      padding: 7px 15px;
      text-align: justify;
    }


    #delivery-info {
      align-items: flex-start;

      .truck-img {
      height: 25px;
      margin-right: 15px;
      }
    }

  }
