<div class="footer">
  <div class="footer-content">
    <div class="brand">Pickalgo</div>
    <div class="footer-links">
      <div class="footer-left-links">
        <div class= "footer-link">
          <%= link_to "CONTACT", contact_path%>
        </div>
        <div class= "footer-link">
        <%= link_to "MENTIONS LEGALES", mentions_legales_path%>
        </div>
        <div class= "footer-link">
          <%= link_to "A PROPOS", faq_path%>
        </div>
      </div>
      <div class="footer-right-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>
