<div class="how-to-pick">
<!-- Modal -->
  <div class="modal fade" id="howToPick" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Guide du Pick </h4>
        </div>
        <div class="modal-body-guide">
          <div class="pick-modal">
            <h3 class="pick-guide-title">Faites votre meilleure offre</h3>

            <p class="pick-guide-p">Dites-nous quel prix vous ne souhaitez pas dépasser pour acheter le produit qui vous plaît. Ou autrement dit, <b>le prix maximal </b>que vous êtes prêt à dépenser pour ce produit.</p>

            <h3 class="pick-guide-title">C'est simple</h3>
            <p class="pick-guide-p">Réfléchissez simplement au montant maximal que vous êtes prêt à dépenser pour ce produit. Si nous obtenons un meilleur prix que celui que vous aviez choisi, <b>vous avez la garantie d'en bénéficier.</b></p>

            <h3 class="pick-guide-title">N'ayez aucune stratégie</h3>
            <p class="pick-guide-p">Imaginez que vous soyez prêt à payer 150 € pour un produit. Vous vous dites que vous aimeriez payer encore moins cher, et vous proposez 130 €. <b>Un pick à 130 € plutôt qu'à 150 € n'augmente pas vos chances de l'obtenir à 130 € ou moins cher</b>, mais vous empêchera en revanche de bénéficier d'un prix compris entre 131 et 150 € ! Si à la fin de la campagne, Pickalgo a obtenu un prix de 140 € pour le produit, vous n'avez rien à payer, mais vous ne pouvez malheureusement pas bénéficier du deal.</p>

            <h3 class="pick-guide-title">Et à la fin...</h3>

            <p class="pick-guide-p">A la fin de la campagne d'achat, en fonction du montant de votre pick deux dénouements possibles :</p>

            <p class="pick-guide-p">-Vous aviez pické à un prix supérieur ou égal au prix finalement obtenu par Pickalgo : Vous obtenez le produit au prix final de la campagne.
            Exemple : Vous avez pické à 150 €, le prix obtenu par Pickalgo est de 140€, <b>vous obtenez le produit pour 140 €</b>.</p>

            <p class="pick-guide-p">-Vous aviez pické le produit à un prix inférieur au prix obtenu par Pickalgo : Vous n'avez rien payer, mais ne pouvez pas non plus bénéficier du prix obtenu.
            Exemple : Vous aviez pické à 130 €, le prix obtenu par Pickalgo est de 140 €, <b>vous ne pouvez pas bénéficier du deal</b>.</p>

          </div>
        </div>
        <div class="modal-footer hidden">
          <button type="button" id="close-how-to-pick" class="btn btn-default text-center" data-dismiss="modal"></button>
        </div>
      </div>

    </div>
  </div>
</div>
