<div class="navbar-container">
  <div class="navbar">

    <!-- Logo -->
    <%= link_to seeds_path do %>
      <div class="logo-box">
        <div id="logo-text">Neoju</div>
        <span class="glyphicon glyphicon-leaf", id="logo-icon"></span>
      </div>
    <% end %>


  </div>
</div>
