<%= link_to my_picks_path do %>
  <div class="complete-link">
      <%= image_tag "my_picks.png", class: "pending pick-icon" %>
      <%pending_picks = Pick.pending_picks(current_user).includes(:seed).select {|pick| pick.seed.ongoing?} %>
      <% if pending_picks.any?  %>
        <div class="picks-pending">
          <%= pending_picks.count %>
        </div>
      <% end %>
    </i>
  </div>
<% end %>


