<%= link_to my_picks_path do %>
  <div class="complete-link">
    <i class="fa fa-hand-lizard pending" aria-hidden="true">
      <%pending_picks = current_user.pending_picks %>
      <% if pending_picks.any?  %>
        <div class="picks-pending">
          <%= pending_picks.count %>
        </div>
      <% end %>
    </i>
  </div>
<% end %>


