<div class="right-container">
  <div class="encart-title">
    <h3>Présenter un produit</h3>
  </div>
  <div class="icon-text">
    <%= image_tag "star.png", class: "star-icon" %>
    <p>Vous venez de découvrir un super produit</p>
  </div>
  <div class="icon-text">
    <%= image_tag "star.png", class: "star-icon" %>
    <p>Vous pensez qu'il pourrait adopter un autre prix</p>
  </div>
  <div class="icon-text">
    <%= image_tag "star.png", class: "star-icon" %>
    <p>Vous souhaitez partager votre découverte</p>
  </div>
  <%= link_to new_seed_path, class:"cta-container" do %>
    <div class="cta-button btn-orange">Sousmettre</div>
  <% end %>
</div>

