<div class="testimony-modal">
<!-- Modal -->
  <div class="modal fade" id="firstTestimony" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header blue-gradiant">
          <%= cl_image_tag @jorge.photo.path, class: "user-photo-modal" %>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body testimony-body">
          <div class="speaker">
            <h4 class="modal-title">
              Jorge
            </h4>
            <span>Founder @Pickalgo</span>
          </div>
          <div class="statement-and-text">
            <p class="statement">"Pour vous"</p>
            <div class="text">Pickalgo est né avec l'objectif de permettre à notre communauté de découvrir et de faire l'acquisition de produits qui leur plait en bénéficiant de la meilleure remise possible. Nous tentons pour ce faire d'établir une relation gagnant-gagnant avec les vendeurs du produits afin que chacun y trouve son compte.</div>
            <p class="statement">"Pour le vendeur"</p>
            <div class="text">En vous laissant choisir le prix que vous ne souhaitez pas dépasser pour acheter un produit, nous tentons de diminuer le frein à l'achat que peut représenter son prix. L'objectif: savoir de combien le vendeur peut augmenter ses volumes de vente et donc profiter de coûts de production plus favorables afin de les répercuter sur son prix de vente.</div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimony-modal">
<!-- Modal -->
  <div class="modal fade" id="secondTestimony" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header blue-gradiant">
          <%= cl_image_tag @jenny.photo.path, class: "user-photo-modal" %>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body testimony-body">
          <div class="speaker">
            <h4 class="modal-title">
              Jenny
            </h4>
            <span>Founder <a href="https://petitvoyou.com" target="_blank">@PetitVoyou</a></span>
          </div>
          <div class="statement-and-text">
            <p class="statement">" Petits volumes et coûts élevés "</p>
            <p class="text">Lorsque j'ai lancé PetitVoyou (harnais personnalisables pour chiens), je vendais peu. Mes harnais sont fabriqués dans une matière noble, onéreuse à l'achat. Et parce que je ne vendais pas beaucoup de pièces, j'achetais mes matières et produisais en petites quantités. Les coûts de fabrication de mes harnais étaient par conséquent élevés. Pour être rentable, j'étais donc obligée de vendre à un prix encore supérieur à mes coûts de production déjà importants.</p>
            <p class="statement">" Product market fit mais ventes faibles "</p>
            <p class="text">Je me suis rendu compte que la plupart des personnes qui aimaient mes produits ne les achetaient pas à cause du prix jugé trop élevé. A force d'interroger ma communauté, d'analyser, de faire de savants calculs, j'ai réussi à trouver un prix plus adéquat.</p>
            <p class="statement">" Le prix a tout changé "</p>
            <p class="text">Mes ventes ont graduellement commencé à augmenter. Puis à s'accélérer.
            J'ai pu commander ma matière en plus grande quantités et globalement bénéficier de prix plus avantageux de la part de mes fournisseurs. Mécaniquement, malgré la diminution de mon prix, mes marges ont augmenté !
            </p>
            <p class="statement">" Du temps et de l'argent "</p>
            <p class="text">Je trouve l'idée Pickalgo géniale. Quoi de mieux pour un entrepreneur que de recevoir du feedback client qui plus est quand celui-ci concerne des ventes potentielles ? Trouver le prix qui satisfait mes clients et mes impératifs de marge aura été long, difficile et hasardeux. Pickalgo nous aurait fait gagner du temps et de l'argent à mes clients et moi-même.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

