<div class="testimony-modal">
<!-- Modal -->
  <div class="modal fade" id="firstTestimony" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header blue-gradiant">
          <%= cl_image_tag @jorge.photo.path, class: "user-photo-modal" %>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body testimony-body">
          <div class="speaker">
            <h4 class="modal-title">
              Jorge
            </h4>
            <span>Founder @Pickalgo</span>
          </div>
          <div class="statement-and-text">
            <p class="statement">"A quel prix tu l'aurais acheté ?"</p>
            <p class="text">Combien de personnes aimeraient faire l'acquisition d'un produit, mais uniquement en dessous d'un certain prix ? Combien de personnes auraient même été prêtes à payer le produit plus cher au vu du bénéfice qu'elles en retirent ? En nous disant à quel prix vous seriez prêt à acheter, vous nous aidez à comprendre quel impact a un prix sur le volume des ventes et donc à déterminer s'il est possible de lui fixer un meilleur prix.
            </p>
            <p class="statement">"Le prix idéal"</p>
            <p class="text">Pickalgo est né avec l'objectif de calculer le prix qui permet au plus grand nombre d'obtenir un produit, tout en optimisant le niveau de rentabilité du vendeur. Pour ce faire nous procédons à des simulations pour déterminer quel prix permet la maximisation conjointe des volumes de ventes, du chiffre d'affaires et des coûts variables.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimony-modal">
<!-- Modal -->
  <div class="modal fade" id="secondTestimony" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header blue-gradiant">
          <%= cl_image_tag @jenny.photo.path, class: "user-photo-modal" %>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body testimony-body">
          <div class="speaker">
            <h4 class="modal-title">
              Jenny
            </h4>
            <span>Founder <a href="https://petitvoyou.com" target="_blank">@PetitVoyou</a></span>
          </div>
          <div class="statement-and-text">
            <p class="statement">" Du temps et de l'argent "</p>
            <p class="text">Je trouve l'idée Pickalgo géniale. Quoi de mieux pour un entrepreneur que de recevoir du feedback client qui plus est quand celui-ci concerne des ventes potentielles ? Trouver le prix qui satisfait mes clients et mes impératifs de marge aura été long, difficile et hasardeux. Pickalgo nous aurait fait gagner du temps et de l'argent à mes clients et moi-même.
            </p>
            <p class="statement">" Petits volumes et coûts élevés "</p>
            <p class="text">Lorsque j'ai lancé PetitVoyou (harnais personnalisables pour chiens), je vendais peu. Mes harnais sont fabriqués dans une matière noble, onéreuse à l'achat. Et parce que je ne vendais pas beaucoup de pièces, j'achetais mes matières et produisais en petites quantités. Les coûts de fabrication de mes harnais étaient par conséquent élevés. Pour être rentable, j'étais donc obligée de vendre à un prix encore supérieur à mes coûts de production déjà importants.</p>
            <p class="statement">" Des efforts et un pari "</p>
            <p class="text">Je me suis rapidement rendu compte que la plupart des personnes qui aimaient mes produits ne les achetaient pas à cause du prix. A force d'interroger ma communauté, d'analyser, de faire de savants calculs, j'ai réussi au bout d'un certain moment à trouver LE prix que je pensais idéal. J'ai ensuite un temps sacrifié une partie de ma marge pour proposer un prix plus attractif à mes clients.</p>
            <p class="statement">" Pari gagnant "</p>
            <p class="text">Mes ventes ont graduellement commencé à augmenter. Puis à s'accélérer... de plus en plus !
            J'ai pu commander ma matière en plus grande quantités et globalement bénéficier de prix plus avantageux de la part de mes fournisseurs. Mécaniquement, malgré la diminution de mon prix, mes marges ont augmenté !
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

