<div class="testimony-modal">
<!-- Modal -->
  <div class="modal fade" id="firstTestimony" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header blue-gradiant">
          <%= cl_image_tag @jorge.photo.path, class: "user-photo-modal" %>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body testimony-body">
          <div class="speaker">
            <h4 class="modal-title">
              Jorge
            </h4>
            <span>Founder @Pickalgo</span>
          </div>
          <div class="statement-and-text">
            <p class="statement">" Ce t-shirt est une fraicheur, mais pas pour 90 € "</p>
            <p class="text">Quelquefois le prix nous semble inadapté à la valeur que nous percevons pour ce produit (de beaucoup, ou de peu).</p>
            <p class="statement">" Ces enceintes sont exceptionnelles, mais je n'ai pas 5000€"</p>
            <p class="text">Il est également possible d'estimer qu'un produit est simplement trop cher pour nous, même si son prix nous semble juste par rapport à sa qualité.</p>
            <p class="statement">"A quel prix tu l'aurais acheté ?"</p>
            <p class="text">Combien de personnes aimeraient faire l'acquisition d'un produit, mais seulement en dessous d'un certain prix ? J'ai constaté que ceux qui avaient renoncé à acheter un produit à cause de son prix n'avaient généralement pas la même réponse à cette question.
            </p>
            <p class="statement">"Le prix idéal"</p>
            <p class="text">Pickalgo est né avec l'objectif de calculer le prix qui permettra au plus grand nombre d'obtenir un produit, tout en conservant le niveau de rentabilité du vendeur par l'augmentation des volumes de ventes et l'optimisation des coûts variables.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimony-modal">
<!-- Modal -->
  <div class="modal fade" id="secondTestimony" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header blue-gradiant">
          <%= cl_image_tag @jenny.photo.path, class: "user-photo-modal" %>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body testimony-body">
          <div class="speaker">
            <h4 class="modal-title">
              Jenny
            </h4>
            <span>Founder <a href="https://petitvoyou.com" target="_blank">@PetitVoyou</a></span>
          </div>
          <div class="statement-and-text">
            <p class="statement">" Ce t-shirt est une fraicheur, mais pas pour 90 € "</p>
            <p class="text">Quelquefois le prix nous semble inadapté à la valeur que nous percevons pour ce produit (de beaucoup, ou de peu).</p>
            <p class="statement">" Ces enceintes sont exceptionnelles, mais je n'ai pas 5000€"</p>
            <p class="text">Il est également possible d'estimer qu'un produit est simplement trop cher pour nous, même si son prix nous semble juste par rapport à sa qualité.</p>
            <p class="statement">"A quel prix tu l'aurais acheté ?"</p>
            <p class="text">Combien de personnes aimeraient faire l'acquisition d'un produit, mais seulement en dessous d'un certain prix ? J'ai constaté que ceux qui avaient renoncé à acheter un produit à cause de son prix n'avaient généralement pas la même réponse à cette question.
            </p>
            <p class="statement">"Le prix idéal"</p>
            <p class="text">Pickalgo est né avec l'objectif de calculer le prix qui permettra au plus grand nombre d'obtenir un produit, tout en conservant le niveau de rentabilité du vendeur par l'augmentation des volumes de ventes et l'optimisation des coûts variables.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimony-modal">
<!-- Modal -->
  <div class="modal fade" id="thirdTestimony" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header blue-gradiant">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>User</p>
        </div>
        <div class="modal-footer hidden">
          <button type="button" id="close-modal" class="btn btn-default text-center" data-dismiss="modal"></button>
        </div>
      </div>
    </div>
  </div>
</div>
