<div class="testimony-modal">
<!-- Modal -->
  <div class="modal fade" id="firstTestimony" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header blue-gradiant">
          <%= cl_image_tag @jorge.photo.path, class: "user-photo-modal" %>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body testimony-body">
          <p>Il m'arrive souvent de renoncer à un produit que je viens de découvrir à cause de son prix. A chaque fois deux possibilités:</p>

          <p>Le prix pas adapté: parfois de beaucoup, parfois de peu, lorsque je juge le prix inadapté à la valeur que je perçois pour ce produit,ce que j'aurais personnellement payé pour ce produit</p>

          <p>Le produit trop cher pour moi: cette fois même si le prix me semble adapté au produit, ce dernier est simplement trop cher pour moi. </p>
        </div>
        <div class="modal-footer hidden">
          <button type="button" id="close-modal" class="btn btn-default text-center" data-dismiss="modal"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimony-modal">
<!-- Modal -->
  <div class="modal fade" id="secondTestimony" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header blue-gradiant">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Jenny</p>
        </div>
        <div class="modal-footer hidden">
          <button type="button" id="close-modal" class="btn btn-default text-center" data-dismiss="modal"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimony-modal">
<!-- Modal -->
  <div class="modal fade" id="thirdTestimony" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header blue-gradiant">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>User</p>
        </div>
        <div class="modal-footer hidden">
          <button type="button" id="close-modal" class="btn btn-default text-center" data-dismiss="modal"></button>
        </div>
      </div>
    </div>
  </div>
</div>
