<header class="header-home">
    <div class="logo-and-log">
      <div class="logo-box">
        <div id="logo-home">Seedlap</div>
        <span class="glyphicon glyphicon-leaf", id="logo-home"></span>
      </div>
      <div class="hidden-xs hidden-sm connect-button">
        <div class="btn">
          CONNEXION
        </div>
      </div>
      <div class="connexion-xs hidden-md hidden-lg">
        <%= link_to new_user_session_path do%>
          CONNEXION
        <% end %>
      </div>

      <div class="log-in-home hidden">
        <%= render "devise/sessions/login" %>
      </div>
    </div>
  </header>

  <div class="forgot-modal">
  <!-- Modal -->
    <div class="modal fade" id="lostModal" role="dialog">
      <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Mot de passe oublié?</h4>

          </div>
          <div class="modal-body">
            <p>Saisissez l'adresse mail que vous nous avez indiquée lors de votre inscription
afin de recevoir un lien pour choisir un nouveau mot de passe.</p>
            <div class="pick-modal">
              <%= render "devise/passwords/reset-password"%>
            </div>
          </div>
          <div class="modal-footer hidden">
            <button type="button" id="close-modal-lost" class="btn btn-default text-center" data-dismiss="modal"></button>
          </div>
        </div>

      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
