<header class="header-home">
    <div class="logo-and-log">
      <div class="logo-box">
        <div id="logo-home">Pickalgo</div>
        <span class="glyphicon glyphicon-leaf", id="logo-home"></span>
      </div>
      <div class="hidden-xs hidden-sm connect-button">
        <div class="btn">
          CONNEXION
        </div>
      </div>
      <div class="connexion-xs hidden-md hidden-lg">
        <%= link_to new_user_session_path do%>
          CONNEXION
        <% end %>
      </div>

      <div class="log-in-home hidden">
        <%= render "devise/sessions/login" %>
      </div>
    </div>
  </header>


