<%= render "shared/navbar" %>
<%= render 'shared/sub-navbar' %>
<div class="container">
  <div class="infos-container">
    <%= render 'pages/navigation', page: @page %>
    <div class="content-box">
      <div class="title">
        <h1>Foire aux questions</h1>
        <p class="intro">Vous avez certainement beaucoup de questions sur Pickalgo et c'est normal. En soit le système ne ressemble à rien de ce que vous connaissez déjà. C'est pourquoi nous avons imaginé les questions que vous pourriez avoir, et avons tenté d'y apporter une réponse ci-dessous. Si vous souhaitez en discuter en personne, ou si vous avez des remarques / suggestions, mots d'amour à nous faire passer, n'hésitez pas à <%= link_to "nous contacter", contact_path, class: "help-link" %>.</p>
      </div>
      <ul class="summary-faq">
        <li><a href="#question-1">Quel problème voulez-vous résoudre ?</a></li>
        <li><a href="#question-2">Votre idée pour résoudre ce problème ?</a></li>
        <li><a href="#question-3">Comment ça se passe ?</a></li>
      </ul>
      <div class="questions-and-answers">
        <div id="question-1" class="card-faqs">
          <div class="card-faq-container">
            <div class="card-faq">
              <h3 class="card-faq-question">
                Le problème
              </h3>
              <div class="card-faq-answer">
                <p>Vous est-il déjà arrivé:
                  <br>- De renoncer à acheter un produit qui vous plait à cause de son prix que vous jugiez trop élevé ?
                  <br>- De douter de la qualité d'un produit qui vous semblait pourtant pas mal à première vue ?
                <br>Pour un entrepreneur, <b>trouver le prix ideal pour son produit est une tâche longue et difficile.</b><br>Il peut pour ce faire avoir recours à plusieurs méthodes comportant chacune des inconvénients:
                </p>
                  <div class="custom-table">
                    <div class="regroup">
                      <div class="idea">S'inspirer des prix des concurrents</div>
                      <div class="problem">Il n'est pas les concurrents. Les clients ne perçoivent donc pas son produit comme celui des concurrents.</div>
                    </div>
                    <div class="regroup">
                      <div class="idea">Se baser sur la valeur réelle du produit</div>
                      <div class="problem">Les clients n'achètent pas un produit pour sa valeur réelle mais pour sa valeur preçue, et il ne sait justement pas comment est perçu son produit.</div>
                    </div>
                    <div class="regroup">
                      <div class="idea">Interroger des clients potentiels</div>
                      <div class="problem">Diffcile de trouver suffisamment de clients potentiels pour avoir un échantillon pertinent. Aucune garantie que le client sera réellement prêt à payer le prix qu'il a préconisé</div>
                    </div>
                    <div class="regroup">
                      <div class="idea">Interroger ses amis</div>
                      <div class="problem">Les amis ne sont pas toujours le segment cible auquel le produit s'adresse.</div>
                    </div>
                    <div class="regroup">
                      <div class="idea">Faire varier son prix</div>
                      <div class="problem">Faire varier son prix à la hausse et à la baisse, permet à chaque fois de mesurer les volumes de ventes, le chiffre d'affaires, les coûts, les marges... Si cette méthode est efficace, elle nécessite du temps, de nombreux essais, et génère de la frustration chez les clients qui voient le prix varier.</div>
                    </div>
                    <div class="regroup">
                      <div class="idea">Combiner toutes ces techniques</div>
                      <div class="problem">La combinaison de toutes ces techniques est aujourd'hui la meilleure méthode utilisée par les entrepreneurs pour découvrir le meilleur prix à adopter. Mais encore une fois, le process est long et chronophage.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="question-2" class="card-faqs">
          <div class="card-faq-container">
            <div class="card-faq">
              <h3 class="card-faq-question">
                L'idée
              </h3>
              <div class="card-faq-answer">
                  <p>En laissant l'acheteur fixer lui même le prix d'un produit qu'il apprécie, nous souhaitons éliminer les freins psychologiques et financiers imposés par la fixation arbitraire du prix</p>
              </div>
            </div>
          </div>
        </div>
        <div id="question-3" class="card-faqs">
          <div class="card-faq-container">
            <div class="card-faq">
              <h3 class="card-faq-question">
                Notre solution
              </h3>
              <div class="card-faq-answer">
                  <p>Et oui !</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>





