<%= render "shared/navbar" %>
<%= render 'shared/sub-navbar' %>
<div class="container">
  <div class="infos-container">
    <%= render 'pages/navigation', page: @page %>
    <div class="content-box">
      <div class="title">
        <h1>Foire aux questions</h1>
        <p class="intro">Vous avez certainement beaucoup de questions sur Pickalgo et c'est normal. En soit le système ne ressemble à rien de ce que vous connaissez déjà. C'est pourquoi nous avons imaginé les questions que vous pourriez avoir, et avons tenté d'y apporter une réponse ci-dessous. Si vous souhaitez en discuter en personne, ou si vous avez des remarques / suggestions, mots d'amour/ haine à nous faire passer, n'hésitez pas à <%= link_to "nous contacter", contact_path, class: "help-link" %>.</p>
      </div>
      <ul class="summary-faq">
        <li><a href="#question-1">Le problème </a></li>
        <li><a href="#question-2">L' idée </a></li>
        <li><a href="#question-3">Notre solution</a></li>
      </ul>
      <div class="questions-and-answers">

        <div id="question-1" class="card-faqs">
          <div class="card-faq-container">
            <div class="card-faq">
              <h3 class="card-faq-question">
                Le problème
              </h3>
              <div class="card-faq-answer">
                  <p>Chez Pickalgo nous pensons qu'un prix fixe est synonyme d'opportunités manquées pour les clients et les vendeurs. Un client qui aime un produit, n'est pas forcément prêt à payer le prix demandé pour en faire l'acquisition.    </p>
              </div>
            </div>
          </div>
        </div>
        <div id="question-2" class="card-faqs">
          <div class="card-faq-container">
            <div class="card-faq">
              <h3 class="card-faq-question">
                L'idée
              </h3>
              <div class="card-faq-answer">
                  <p>En laissant l'acheteur fixer lui même le prix d'un produit qu'il apprécie, nous souhaitons éliminer les freins psychologiques et financiers imposés par la fixation arbitraire du prix</p>
              </div>
            </div>
          </div>
        </div>
        <div id="question-3" class="card-faqs">
          <div class="card-faq-container">
            <div class="card-faq">
              <h3 class="card-faq-question">
                Notre solution
              </h3>
              <div class="card-faq-answer">
                  <p>Et oui !</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>





