<%= render "shared/navbar" %>
<%= render 'shared/sub-navbar' %>
<div class="page-container">
  <div class="faq-feed">
    <div class="row head">
      <div class="col-xs-12 col-md-8 nopadding-left">

        <div class="panel-group" id="accordion">
          <div class="panel panel-default topic">
            <div class="panel-heading">
              <h1 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" >
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                <h3 class="faq-title">Concept</h3>
                </a>
              </h1>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="body-panel"> Seedlap c'est la première plateforme ou les utilisateurs décident des prix des leurs achats</div>
              </div>
            </div>
          </div>
          <div class="panel panel-default topic">
            <div class="panel-heading">
              <h1 class="panel-title">

                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <h3 class="faq-title">Comment ça marche</h3>
                </a>
              </h1>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="body-panel"> Seedlap c'est la première plateforme ou les utilisateurs décident des prix des leurs achats
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default topic">
            <div class="panel-heading">
              <h1 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                <h3 class="faq-title">Questions les plus posées</h3>
                </a>
              </h1>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="body-panel"> Seedlap c'est la première plateforme ou les utilisateurs décident des prix des leurs achats
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





