<% content_for(:title_tag) do %>
  Bienvenue sur Seedoak
<% end %>



<div class="container-home">
  <header class="header-home">
    <div class="logo-box">
      <div id="logo-home">Seedoak</div>
      <span class="glyphicon glyphicon-leaf", id="logo-home"></span>
    </div>
    <div class="log-in-home">
      <%= render "devise/sessions/login" %>
    </div>
  </header>
  <div class="banner-content">
    <div class="enter">
      <h1>Les meilleures nouveautés</h1>
      <%= link_to "Inscrivez-vous", new_user_registration_path, class: "btn btn-primary btn-lg " %>
    </div>
  </div>
  <div class="homer-footer">
    <p>T</p>
  </div>
</div>



