
<%= render 'shared/navbar' %>
<div class="container" id="pages-home">
  <div class="row" id="swiper-container">
    <div class="col-xs-12 owl-carousel">

        <div class="slide", style="background-image: url(<%= image_url "slide1.jpeg" %>);", id="slide1">
          <div class="row">
            <div class="col-xs-5">
              <p class="details">Découvrez et faites nous découvrir les meilleures nouveautés !</p>
            </div>
            <div class="col-xs-5 col-xs-offset-2">
              <p class="details join text-right">Le meilleur moyen de se faire plaisir</p>
              <div class="text-center">
                <%= link_to "Essayez maintenant", seeds_path, class: "btn btn-success " %>
              </div>
            </div>
          </div>
        </div>
        <div class="slide"> Your Content </div>
        <div class="slide"> Your Content </div>
        <div class="slide"> Your Content </div>
        <div class="slide"> Your Content </div>
        <div class="slide"> Your Content </div>
        <div class="slide"> Your Content </div>

      </div>

  </div>
</div>

<%= content_for :after_js do %>

<script>
  var owl = $('.owl-carousel');
  owl.owlCarousel({
    items: 1,
    loop:true,
    margin:10,
    autoplay:true,
    autoplayTimeout:1000,
    autoplayHoverPause:true
  });
  $(document).ready(function(){
    owl.trigger('play.owl.autoplay',[1000])
  })
</script>
<% end %>
