<div class="container">
  <div class="row">
    <h1>Pages#home</h1>
    <h2> Bienvenue sur Seedoak</h2>

    <div class="entrez btn btn-success">
      <%= link_to "Decouvrez seedoak", seeds_path %>
    </div>
  </div>
</div>
