<div class="container-home">
  <div class="nav-and-banner">
    <%= render "pages/unauthentified-navbar" %>
    <div class="banner-container">
      <h1 class="moto-centered">
        <div>Vous aimez un produit ?</div>
        <div>Décidez de son prix</div>
      </h1>
      <div class="concept">
        <p>Seedlap est la première plateforme ou les clients
        décident des prix des produits qu'ils veulent acheter
        </p>
      </div>
      <%= link_to seeds_path do %>
        <div class="btn join-us-now">
            Découvrir
        </div>
      <% end %>
    </div>
  </div>
  <div class="how-it-works">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="icon-header-body">
          <div class="icon-header">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            Share
          </div>
          <p>Partagez vos découvertes avec les membres de la communauté</p>
          <p>“J’aime ce produit, mais 90€…”</p>
          <p>Ce n’est parce qu’on aime un produit qu’on est prêt à payer le prix demandé</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="icon-header-body">
          <div class="icon-header">
            <i class="fa fa-hand-lizard-o" aria-hidden="true"></i>
            Pick
          </div>
          <p>Magnifestez votre volonté d’achat</p>
          <p>“Pour 75€ je fonce!”</p>
          <p>Chacun fait anonymement part du prix qu’il est prêt à payer pour le produit</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="icon-header-body">
          <div class="icon-header">
            <i class="fa fa-money" aria-hidden="true"></i>
            Save
          </div>
          <p>Faites des économies</p>
          <p>“Cher client, vous ne payez plus que 70€!”</p>
          <p>Notre algorithme préconise au vendeur le prix le plus juste à pratiquer pour conclure le deal. </p>
        </div>
      </div>
    </div>
  </div>
</div>
