<%= render "shared/navbar" %>
<%= render 'shared/sub-navbar' %>
<div class="container">
  <div class="infos-container">
    <div class="row">
      <div class="col-md-2">
        <div class="navigation-menu">
          <div class="page-link">
            FAQ
          </div>
          <div class="page-link">
            Contact
          </div>
          <div class="page-link">
            Mentions légales
          </div>
          <div class="page-link">
            CGV
          </div>
          <div class="page-link">
            CGU
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="content-box">
          content
        </div>
      </div>
    </div>
  </div>
</div>





