<%= render "shared/navbar" %>
<%= render 'shared/sub-navbar' %>
<div class="container">
  <div class="infos-container">
    <div class="row">
      <div class="col-md-2">
        <div class="navigation-menu">
        <%= render 'pages/navigation', page: @page %>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-1">
        <div class="content-box">
          <div class="title">
            <h1>Mentions légales</h1>
          </div>
          <h2>Edition et réalisation du site</h2>
            <p>
              Jorge Ruivinho
            </p>
            <p>
              64 rue de la Pompe, 75116 Paris.
            </p>
            <p>
              <a href="mailto:jorge@neoju.com">jorge@neoju.com</a>
            </p>
            <p>
            </p>
          <h2>Hébergement du site</h2>
            <p>
              Le site est hébergé par Amazon Web Services (via Heroku)
            </p>
            <p>
              Amazon Web Services, Inc.
              P.O. Box 81226
              Seattle, WA 98108-1226
              http://aws.amazon.com
            </p>
          <h2>Confidentialité et Données personnelles</h2>
            <p>
              Conformément à la loi Informatique et Libertés (Loi N°78-17 du 6 janvier 1978), nous vous informons que la collecte des informations dont la saisie est obligatoire, est nécessaire au traitement de vos données. Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données vous concernant. Vous pouvez l'exercer en adressant un e-mail à : <a href="mailto:contact@neoju.com">contact@neoju.com</a>
            </p>
          <h2>Conditions Générales</h2>
            <p>Pour les membres de la communauté Neoju, le site dispose de <a href="/cgu">Conditions Générales d'Utilisation</a>.</p>
            <i>Actualisées le 15/03/2018</i>

        </div>
      </div>
    </div>
  </div>
</div>






