<%= render "shared/navbar" %>
<%= render 'shared/sub-navbar' %>
<div class="container">
  <div class="infos-container">
    <%= render 'pages/navigation', page: @page %>
    <div class="content-box">
      <div class="title">
        <h1>Mentions légales</h1>
      </div>
      <h2>Hébergement du site</h2>
        <p>
          Le site est hébergé par Amazon Web Services (via Heroku)
        </p>
        <p>
          Amazon Web Services, Inc.
          P.O. Box 81226
          Seattle, WA 98108-1226
          http://aws.amazon.com
        </p>
      <h2>Confidentialité et Données personnelles</h2>
        <p>
          Conformément à la loi Informatique et Libertés (Loi N°78-17 du 6 janvier 1978), nous vous informons que la collecte des informations dont la saisie est obligatoire, est nécessaire au traitement de vos données. Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données vous concernant. Vous pouvez l'exercer en adressant un e-mail à : <a href="mailto:contact@pickalgo.com">contact@pickalgo.com</a>
        </p>
      <h2>Conditions Générales</h2>
        <p>Vous devez avoir plus de 16 ans pour vous inscrire sur Pickalgo. Lorsque vous créez un compte, vous autorisez Pickalgo à vous inscrire à une newsletter d'une fréquence maximale d'un email par semaine synthétisant les plus belles découvertes et campagnes de la semaine écoulée, dont vous pouvez vous désinscrire directement en cliquant sur le lien joint dans le courriel, ou en nous adressant une demande à contact@pickalgo.com</p>
        <p><b>Nous respectons votre vie privée:</b> Nous ne vendons aucune donnée nominative vous concernant . Vous ne pourrez donc pas être sollicité par quelconque moyen (email, téléphone, courrier), à des buts de prospection, par une entreprise à qui nous aurions vendu vos données. Seules les entreprises vendant un produit pour lequel vous aurez fait une proposition d'achat qui aura été retenue pourront vous contacter (notamment afin d'obtenir des informations complémentaires nécessaires à la livraison, à votre retour sur expérience d'achat et d'utilisation…)</p>
        <p>Pickalgo négocie pour vous le meilleur prix qu'il est possible de vous accorder. Aussi lorsque vous validez votre participation à une campagne pour un produit, vous vous engagez à faire l'acquisition du produit si nous arrivons à vous faire bénéficier d'un prix inférieur ou égal à celui que vous avez proposé.
        Nous procédons au débit de la somme appropriée (prix négocié avec le vendeur majoré des coûts de livraison indiqués lors de la validation de votre participation à la campagne d'achat), sur la carte bancaire renseignée. Vous pouvez exercer un droit de rétractation sur le produit, mais devrez dans ce cas payer la prestation de négociation réalisée par Pickalgo dont le montant forfaitaire maximal s'élèvera à 7% du prix que vous aurez proposé pour le produit.</p>
        <i>Actualisées le 05/06/2018</i>
        <h2>Edition et réalisation du site</h2>
          <p>
            Jorge Ruivinho
          </p>
          <p>
            64 rue de la Pompe, 75116 Paris.
          </p>
          <p>
            <a href="mailto:jorge@pickalgo.com">jorge@pickalgo.com</a>
          </p>
          <p>
          </p>
    </div>
  </div>
</div>






