<%= render 'shared/navbar' %>


<div class="page-container">
  <div class="team-feed">


    <div class='team-member'>
      <div class="team-member-picture">
        <%= cl_image_tag("k6fgmer3qbyxcowzrney.jpg", :transformation=>[
        {:width=>800, :height=>800, :gravity=>"face", :radius=>"max", :crop=>"crop"},
        {:width=>150, :crop=>"scale"}
        ]) %>
      </div>
      <div class="member-body">
        <div class="name-function">
          <h3 class="name"> Jorge Ruivinho</h3>
          <div class="member-title">
            <p>FOUNDER</p>
          </div>
        </div>
        <div class="likes">
          <ul class="likes-list">
            <li>Sport</li>
            <li>Nature</li>
            <li>Animaux</li>
          </ul>
        </div>
      </div>
    </div>
    <div class='team-member'>
      <div class="team-member-picture">
        <%= cl_image_tag("FullSizeRender_d2tg23.jpg", :transformation=>[
        {:width=>700, :height=>700, :gravity=>"face", :radius=>"max", :crop=>"crop"},
        {:width=>150, :crop=>"scale"}
        ]) %>
      </div>
      <div class="member-body">
        <div class="name-function">
          <h3 class="name"> Jorge Ruivinho</h3>
          <div class="member-title">
            <p>CFO</p>
          </div>
        </div>
      </div>
    </div>
    <div class='team-member'>
      <div class="team-member-picture">
        <%= cl_image_tag("k6fgmer3qbyxcowzrney.jpg", :transformation=>[
        {:width=>800, :height=>800, :gravity=>"face", :radius=>"max", :crop=>"crop"},
        {:width=>150, :crop=>"scale"}
        ]) %>
      </div>
      <div class="member-body">
        <div class="name-function">
          <h3 class="name"> Jorge Ruivinho</h3>
          <div class="member-title">
            <p>CTO</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>




