
  <%= simple_form_for [@seed, @pick], url: seed_picks_path(@seed), remote: true,method: :post do |f| %>
    <div class="pick-form">
      <h3>Quel prix souhaitez-vous payer?</h3>
      <div class="price">
        <%= f.input_field :price, as: :integer, class: 'input-sm form-control pick', id: 'start-pick', placeholder: 'Exemple: 80'%>
        <div class="counter-body">
          <div class="counter">€</div>
        </div>
      </div>
      <div class="livraison">
        <p>Dans l'hypothèse ou le produit doit vous être livré, vous serez débité de 3€90 au titre des coûts de livraison</p>
      </div>
      <div class="submit-pick">
        <%= f.submit "Enregistrer mon pick", class: "btn", id: "btn-pick" %>
      </div>
    </div>
  <% end %>

