
  <%= simple_form_for [@seed, @pick], url: seed_picks_path(@seed), remote: true,method: :post do |f| %>
    <div class="pick-form">
      <div class="inputs-and-recap">
        <div class="pick-inputs">
          <div class="price">
            <label for="price">Quel prix souhaitez-vous payer au maximum?</label>
            <%= f.input_field :price, as: :integer, class: 'input-sm form-control pick', id: 'start-pick', placeholder: 'Votre prix'%>
            <span class="unit">€</span>
          </div>
          <% unless @seed.size_guide.blank? %>
            <label for="size">Taille</label>
            <%= f.input_field :size, class: 'input-sm form-control pick', id: 'size-pick', placeholder: "Référez-vous au guide des tailles"%>
          <% end %>
          <p id="delivery-info">Toute livraison sera facturée 3.90€ en plus du prix du deal.</p>
        </div>
        <div class="recap-animation">
          <div class="end-block">
            <div class="how-much">
              <div>Mon pick:</div>
              <div class="counter">€</div>
            </div>
            <div class="how-much">
              <div>Livraison:</div>
              <div class="cout">3.9 €</div>
            </div>
            <div class="how-much">
              <div class="last-text">Coût total max:</div>
              <div class="totalcounter">€</div>
            </div>
          </div>
        </div>
      </div>
        <div class="action-links">
          <button type="button" class="btn-dissmiss text-center" data-dismiss="modal">Retour</button>
          <%= f.submit "Enregistrer", class: "btn", id: "btn-pick" %>
        </div>
    </div>
  <% end %>

