<% if current_user.has_picked?(@seed) %>
  <p class="has_picked">Seed pické</p>
<% else %>
  <%= link_to "#myModal", data: { toggle: "modal" } do%>
    <div class="btn btn-primary pick-link">
      <i class="fa fa-hand-lizard-o" aria-hidden="true"> </i>
      <p>Pick it</p>
    </div>
  <% end %>
<% end %>
