 <% if current_user %>
  <% if current_user.has_picked?(@seed) %>
    <p class="has_picked">Mon pick : <%= Pick.my_pick(current_user, @seed).first.price%> € </p>
  <% else %>
    <%= link_to "#myModal", data: { toggle: "modal" } do%>
      <div class="btn pick-link">
        <i class="fa fa-hand-lizard" aria-hidden="true"> </i>
        <p>Pick it</p>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= link_to new_user_session_path do  %>
    <div class="btn pick-link">
      <i class="fa fa-hand-lizard" aria-hidden="true"> </i>
      <p>Pick it</p>
    </div>
  <% end %>
<% end %>
