<h1>Seeds#index</h1>
<p>Decouvrez ici tous les derniers seeds</p>
<ul>
  <% @seeds.each do |seed| %>
    <li>
      <%= seed.title %>
      <%= seed.description %>
      <%= link_to "Détails", seed_path(seed) %>
    </li>
  <% end %>
</ul>
<%= link_to "Créér un nouveau seed", new_seed_path, {class: "btn btn-primary"}  %>
