$( document ).ready(function() {



   if  (<%= @filter == false %>) {
    $('.seed-presentation').html("<%= j render @seeds, seeds: @seeds %>")
    $('.seed-presentation').prepend("<p class= 'no-seed'>Pas de seed pour la catégorie sélectionnée</p>")



   } else {
    $('.no-seed').hide()
    $('.product.id-<%= @filter %>').toggle();
    $('.sub-title.<%= @filter %>').toggleClass("inactive");
  }

});





/*
si on a rien dans les params, renvoie tous les seeds
si on a des params mais pas de seed correspondant aux params, renvoie tous les seeds
si on a des params et des seeds qui correspondent aux params, renvoies les seeds qui correspondent aux params

*/

