$( document ).ready(function() {



   if  (<%= @condition == false %>) {
    $('.no-seed').hide();
    $('.seed-presentation').prepend("<p class= 'no-seed'>Pas de seed pour la catégorie sélectionnée</p>");
    $('.sub-title.<%= @filter %>').toggleClass("inactive");


   } else {
    $('.no-seed').hide();
    $('.product').hide();
    $('.product.id-<%= @filter %>').toggleClass("filtered");
    $('.filtered').show();
    $('.sub-title.<%= @filter %>').toggleClass("inactive");
  }

});










