

<div class="page-container">

  <div class="seed-feed">
    <div class="seed-presentation">
      <div class="link-and-title">
        <%= link_to admin_path do %>
          <div>
            <i class= "far fa-arrow-alt-circle-left"></i>
            Admin-dashbord
          </div>
        <% end %>
        <h1>Publish_seed</h1>
      </div>
      <div class="admin-instructions">Renseigner le coût d'expédition du produit (à déterminer à partir du poid du produit à trouver sur le site du vendeur).</div>
      <%= render "seeds/publish_seeds", seeds: @seeds %>
    </div>
  </div>
</div>
