

<div class="page-container">
  <div class="show">

    <div class="left-section">

      <div class="title-and-pick">
        <h2><%= @seed.title %></h2>
        <%= link_to new_seed_pick_path(@seed) do %>
          <div class="pick-seed">
            <p>Picker</p>
            <i class="fa fa-hand-lizard-o" aria-hidden="true"></i>
            <p>(<%=@seed.picks.size  %>)</p>
          </div>
        <% end %>
      </div>


      <div class="seed-media">
        <div class="seed-photos">
          <% @seed.photos.each do |photo| %>
            <%= cl_image_tag photo.path, width: 608, height: 380, crop: :fill %>
          <% end %>
        </div>
        <div class="seed-social">
          <div class="social-category">
            <div class="filter-icon glyphicon glyphicon-eye-open"></div>
            <p>Vues</p>
          </div>
          <div class="social-category">
            <div class="filter-icon glyphicon glyphicon-heart-empty"></div>
            <p>J'aime</p>
          </div>
          <div class="social-category">
            <div class="filter-icon glyphicon glyphicon-share-alt"></div>
            <p>Partager</p>
          </div>
          <div class="social-category">
            <div class="filter-icon glyphicon glyphicon-exclamation-sign"></div>
            <p>Signaler</p>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>








