

<div class="page-container">
  <div class="two-sections">

    <div class="left-section">

      <h2 class="title-and-pick"><%= @seed.title %></h2>



      <div class="seed-media">
        <div class="seed-photos">
          <% @seed.photos.each do |photo| %>
            <%= cl_image_tag photo.path, width: 608, height: 380, crop: :fill %>
          <% end %>
        </div>
        <div class="seed-social">
          <div class="social-category">
            <div class="filter-icon glyphicon glyphicon-eye-open"></div>
            <p>Vues</p>
          </div>
          <div class="social-category">
            <div class="filter-icon glyphicon glyphicon-heart-empty"></div>
            <p>J'aime</p>
          </div>
          <div class="social-category">
            <div class="filter-icon glyphicon glyphicon-share-alt"></div>
            <p>Partager</p>
          </div>
          <div class="social-category">
            <div class="filter-icon glyphicon glyphicon-exclamation-sign"></div>
            <p>Signaler</p>
          </div>

        </div>
      </div>
    </div>

    <div class="right-section">
      <div class="pick-section">

      </div>

    </div>

  </div>
</div>








