<h1>Hello <%= @user.pseudo %></h1>

<p>Merci de nous avoir présenté <%= @seed.title %>. Votre <%= link_to 'post', seed_url(@seed.title.parameterize) %> n'a pas été validé car il ne respectait pas pleinement nos conditions générales d'utilisation.
<br>Les motifs de refus de validation par un admin sont généralement les suivants: </p>

<ul>
  <li>Produit déjà trop connu (nous nous concentrons sur les nouveautés)</li>
  <li>Photos ou texte non approprié</li>
  <li>Publicité déguisée</li>
</ul>

<p>N'hésitez pas à nous contacter si vous désirez plus d'informations quant à notre décision, ou si vous pensez qu'il doit simplement légèrement modifié afin d'être publié.</p>

<p>A très vite sur Pickalgo</p>

<p>Laura</p>
