h1 {
  margin-top: 0;
  font-size: 25px;
}

.head-seed {
  display: flex;
  justify-content: space-between;
}

.right-icons {
  display: flex;
  align-items: baseline;
  .fa-hand-lizard-o {
    font-size: 17px;
  }
}

.signal-box {
  display: flex;
  align-items: baseline;
  margin-left: 5px;
}

.seed-signaled {
  .glyphicon-exclamation-sign {
    color: $blue;
  }
  p {
    color: $blue;
  }
}

.bottom-sexion {
  label {
    margin-right: 10px;
  }
}

.media-filter-icon {
  padding: 0 5px;
}
.action-count {
    padding: 0 5px;
}
