<div class="container-home">

  <header class="header-home">
    <div class="logo-and-log">
      <div class="logo-box">
        <div id="logo-home">Seedoak</div>
        <span class="glyphicon glyphicon-leaf", id="logo-home"></span>
      </div>
      <div class="connect-button">
        <div class="btn">
          CONNEXION
        </div>
      </div>
      <div class="log-in-home hidden">
        <%= render "devise/sessions/login" %>
      </div>
    </div>
  </header>

  <div class="banner-content">
    <div class="banner-container">
      <div class="row">
        <div class="col-xs-12 col-md-9">
          <div class="teaser-seedoak">
            <h2>Décidons ensemble du prix de nos coups de coeur</h2>
          </div>
        </div>
        <div class="col-xs-8 col-md-3">
          <div class="form-space">
            <%= render "devise/sessions/sign-up" %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
