<div class="display-card">
  <div class="input-and-icon">
    <i class="fa fa-credit-card fa-fw left-icon"></i>
    <div class="form-control">
      <div class="right-part">
        <div class="stripe-block"><%= customer_infos["brand"]%></div>
        <div class="stripe-block">
          <div class="hidden-xs">**** ****</div> **** <%= customer_infos["last4"] %>
        </div>
        <div class="stripe-block">
          <%= customer_infos["exp_month"]%>/<%= customer_infos["exp_year"] %>
        </div>
      </div>
    </div>
  </div>
</div>
