<% content_for(:title_tag) do %>
  Bienvenue sur Seedoak
<% end %>


<div class="page-container">
  <div class="pick-feed">
    <%if @picks.any? %>
      <div class="seed-presentation">
        <%= render "my_seedoak/pick-history", picks: @picks %>
      </div>
    <% end %>

  </div>
</div>
