
.inactive {
  font-weight: bold;
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 2px 5px 5px rgba(0,0,0,0.22);
  background-color: #FFFFFF;
  border: 1px;
  border-style: solid;
  border-color: #e8e8e8;
}
