.cookies-eu-content-holder {
    display: inline-block !important;
    padding: 5px 20px !important;
    line-height: 20px !important;

}

.cookies-eu .cookies-eu-button-holder .cookies-eu-ok {
  border-radius: 50px !important;
  color: $blue !important;
  border: 2px solid $blue !important;
  background-color: transparent !important;
}


@media screen and (max-width: 480px) {

  .cookies-eu .cookies-eu-button-holder .cookies-eu-ok {
    margin-bottom: 10px;
  }
}
