.navbar-container {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  height: 70px;
  padding: 0;
  display: flex;
  justify-content: center;

}

.navbar:before, .navbar:after {
    content: none;
}

.navbar {
  max-width: 1100px;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 0px;


}

/* Logo */
.logo-box {
  display: flex;
  align-items: flex-start;

}

#logo-text {
  font-size: 25px;
  font-style: italic;
  color: $blue;
  margin-right: 4px;
  a {
  text-decoration: none;
   &:hover{
    text-decoration: none;
    color: $blue;
   }
  }
}

#logo-icon {
  font-size: 30px;
  color: $blue;
  text-decoration: none;
}


.menu-links {
  display: flex;
  justify-content: space-between;
  font-size: 18px;


 a {
  text-decoration: none;
  color: $blue;

    &:hover {
    color: $blue;
    text-decoration: none;
    }
  }
}



/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-links {
  padding: 5px 10px;
}

.new-seed {
  margin: 0 10px;
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: $blue;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltiptext::after {
      visibility: visible;
  }

  &:hover .tooltiptext {
      visibility: visible;
  }
}

.menu-links-text{
  font-size:15px;
}

.my-picks {
  margin: 0 10px;
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: $blue;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltiptext::after {
      visibility: visible;
  }

  &:hover .tooltiptext {
      visibility: visible;
  }
}

.pending {
  position: relative;
  display: flex;

}

.fa-hand-lizard-o {
  font-size: 25px;
  padding: 10px;
  color: $blue;
  a {
  text-decoration: none;
   &:hover{
    text-decoration: none;
    color: rgba(15, 163, 177, 1);
   }

  }



  .picks-pending {
    position: absolute;
    left: -2px;
    min-width: 20px;
    min-height: 20px;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: $red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

}

.fa-plus {
  font-size: 25px;
  padding: 10px;
  color: $blue;

  a {
  text-decoration: none;
   &:hover{
    text-decoration: none;
    color: $blue;
   }
  }
}

.user-menu {
  cursor: pointer;
  margin: 0 10px;
}

#dropdown-photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}


/* User Avatar */

.fa-user-o {
  font-size: 17px;
  background-color: $blue;
  border-radius: 50%;
  padding: 10px;
  color: white;

  a {
  text-decoration: none;
   &:hover{
    text-decoration: none;
    color: white;
   }
  }

}

.fa-user-plus {
  font-size: 20px;
  padding: 10px;
  color: $gray;

  a {
  text-decoration: none;
   &:hover{
    text-decoration: none;
   }
  }

}

.glyphicon-option-vertical {
  padding: 10px;
  color: $blue;
  font-size: 17px;
}

.drop-item {
  display: flex;
  align-items: center;
  i {
    width: 20px
  }
  p {
    margin: 0;
  }
}


/* Dropdown */
.navbar-dropdown-menu {
  margin-top: 16px;
  border-color: $blue;
  background-color: $blue;

}
.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: white !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-dropdown-menu li > a:hover {
  background-color: #6d6c6c !important;
  color: white !important;
}
.navbar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: $blue;
  transform: rotate(45deg);
  border-left: 1px solid $blue;
  border-top: 1px solid $blue;
}


@media screen and (max-width: 480px) {

  .logo-box {
    padding: 0 0 0 10px;
  }

  #logo-text {
  font-size: 20px;
  }

  #logo-icon {
    font-size: 20px;
  }



  .user-menu {
    padding: 0 10px 0 0;
  }

  /* User Avatar */


  .dropdown-menu {

    a{

      .fa-plus {
        font-size: 15px;
        color: white;
        padding: 0;

      }

      .fa-hand-lizard-o {
        font-size: 15px;
        color: white;
        padding: 0;
      }

      &:hover {
        .fa-plus {
          background: transparent !important;
          color: black !important;
        }

        .fa-hand-lizard-o {
          background: transparent !important;
          color: black !important;
        }
      }
    }

  }

  .sign-links {
    padding: 5px 5px 5px 0px;
    font-size: 14px;
  }





}






