/* Main navbar */
.navbar {
  height: 10vh;
  margin: 5vh 3vh 3vh 3vh;
  display: flex;
  align-items: center;
  height: 100%;
  .navbar-wagon-brand {
    img {
      min-width: 5vw;
      width: 100%;
    }
  }
  .seedoak {

    margin-top: -10px;
    box-shadow: 3px 5px 3px 0 rgba(0,0,0, 0.7),0 1px 0 0 rgba(0,0,0,0.03);
    display: flex;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    font-size: 22px;
    background-color: white;
  }
  .account {
    display: flex;
    align-items: center;
    height: 100%;
    .checkbox-inline {

    }
    .link-dashboard {
      opacity: 0.8;
    }
    #avatar-navbar {
      img {
        width: 75%;
        min-width: 65px;
      }
    }
  }
  #LogOutModal {
    padding-top: 30vh;
    .modal-footer-disconnect {
      padding: 15px;
      border-top: 1px solid #e5e5e5;
      display: flex;
      justify-content: space-around;
    }
  }
}

.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  height: 75px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



