a { color: inherit; }

a:hover {
  text-decoration:none;
}


.product {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

/* Body design */
.product-body {
  flex: 1 1 auto;
}
.product-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.product-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;

}

/* Upvote design */
.product-upvote {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.product-count {
  margin: 2px 0 0;
}
.product-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

.seeder-picture {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Hover effects */
.product:hover {
  background: #f7f7fa;
  cursor: pointer;
}
.product-upvote:hover, .product-upvote.product-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.product-upvote-upvoted .product-arrow {
  border-bottom-color: #5898f1;
}
// .product:hover .product-upvote {
//   transform: scale(1.2)
// }
.product:hover .product-controls-hidden a {
  color: #E6E6E6;
}
.product-upvote:hover .product-arrow {
  border-bottom: 9px solid #5898f1;
}
