<h1>Hello @user.pseudo</h1>
<p>Vous avez pické <%= @pick.title %> pour <%= @pick.price %> mais ne l'avez pas encore validé. En validant vous vous assurez de pouvoir l'acheter à <%= @pick.price %> €. Alors pensez y avant que la campagne d'achat ne se termine !</p>

<p>Cliquez sur ce lien</p>
