

<div class="page-container">

  <div class="seed-feed">
    <div class="seed-presentation">
      <div class="link-and-title">
        <%= link_to admin_path do %>
          <div>
            <i class= "far fa-arrow-alt-circle-left"></i>
            Admin-dashbord
          </div>
        <% end %>
        <h1>Fail</h1>
      </div>
      <%= render "campaigns/campaign", campaigns: @campaigns %>
    </div>

  </div>
</div>
