

<div class="page-container">

  <div class="seed-feed">
    <div class="seed-presentation">
      <div class="link-and-title">
        <%= link_to admin_path do %>
          <div>
            <i class= "far fa-arrow-alt-circle-left"></i>
            Admin-dashbord
          </div>
        <% end %>
        <h1>Messages</h1>
      </div>
      <div class="row">
      <% @picks.each do |pick| %>
        <div class="col-xs-12">
          <%= link_to pick_path(pick) do %>
            <p><%= pick.user.pseudo %> pour <%= pick.seed.title %></p>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>


  </div>
</div>
