<p>Hello <%= @resource.email %>!</p>

<p>Comme demandé, vous trouverez-ci dessous un lien pour ré-initialiser votre mot de passe sur neoju.com.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer ce message.</p>

