<p>Hello <%= @resource.email %>!</p>

<p>Votre compte a été temporairement bloqué suite à plusieurs tentatives de connexions infructueuses.</p>

<p>Vous pouvez le déloquer en suivant les instructions après avoir cliqué sur le lien ci-dessous:</p>

<p><%= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>
