  .container {
      margin-top: 50px;
      width: 100%;
      padding: 0;
      margin-bottom: 20px;
  }

  .page-section {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0px;
      max-width: 1100px;

      .nav-tabs {
        border: none;
        box-shadow: 0 4px 3px -3px rgba(0,0,0,0.1);

            a:hover {
              color: $blue;
            }

            li {
              a {
                text-decoration: none;
                color: #4d4d5e;
                border: none;
                cursor: pointer;
              }
            }

            .active {
              border: none;
              border-bottom: 1px solid #270000;;

              a {
                color: #270000;
                text-decoration: none;
              }
            }

          }

    }



  .dashboard {
      padding: 0;
      margin: 0;
  }

  .tabs-info {
    padding: 0;
  }



  .edit-button {
    color: $blue;
    border: solid 1px $blue;
    padding: 7px 10px;
    border-radius: 0px;
    font-size: 13px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
      text-decoration: none;
    }
  }

  .view {
    margin: 20px 0;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ddd;
  }

  .view-header {
    padding-left: 30px;
    border-bottom: solid 1px #eee;
    h1 {
      font-size: 22px;
      font-weight: bold;
    }
  }

  .view-body {
    overflow: auto;
  }






  //  ----------------------------------- EDIT



  .user-form {
    padding: 20px 20px;

    .primary-infos{
      display: flex;
    }

    img {
      margin-bottom: 15px;
    }

    .no-photo{
      background-color: #e8e5e5;
      height: 150px;
      width: 150px;
      border-radius: 10px;
      margin-bottom: 15px;
    }

    .photo-update{
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 20%;

      .form-group{
        margin-bottom: 0px;
      }
    }

    .pseudo-mini-bio{
      flex: 0 0 80%;
      padding-left: 35px;
      label {
        margin-right: 15px;
        width: 15%;
        margin-bottom: 0px;
      }
    }

    input, textarea {
      border-radius: 10px;
    }






      .attached-inputs {
        .form-group {
          margin-bottom: 0px;
          width: 250px;
        }

      }

      .help-block {
        margin-left: 10px;
      }


      .control-label {
        text-align: left;
        margin-right: 15px;
        color: #a6a6ae;
        font-weight: normal;
      }


      .form-group {
        display: flex;
        align-items: center;
      }

      .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-left: 15px;
        width: 50%;
      }
  }


  .tab-content, .small-padding, #public-profile, #personal-infos{
    &:focus{
      outline: none;
    }
  }


  #user_mini_bio {
    height: 145px;
  }

  .social-options {
    margin-top: 30px;

    h4 {
      font-size: 23px;
      margin-bottom: 17px;
    }

    .icons-and-form {
      display: flex;
      flex-wrap: wrap;
    }

    .social-group {
      display: flex;
      flex-wrap: wrap;
      .form-control {
        width: 100%;
      }
    }

    .no-label {
      margin-right: 30px;
      .written-label {
        margin-right: 0;
        img {
          height: 35px;
          margin-bottom: 0;
        }
      }
      .attached-inputs {
        margin-left: 0;
      }
    }


    .form-control {
      -webkit-box-shadow: none;
      box-shadow: none;
      margin-left: 15px;
      width: auto;
    }


  }

  .no-label {
    display: flex;
    margin-bottom: 15px;
  }

  .written-label {
    width: 15%;
    margin-right: 15px;
    color: #a6a6ae;
  }

  .attached-inputs {
    display: flex;
    align-items: center;
    margin-left: 15px;

    label {
      width: auto;
      font-size: 15px;
    }
  }


  .user_date_of_birth {
    .form-control {
      width: auto;
    }

  }




  .choosePhoto {
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  color: $orange;
  border: 1px solid $orange;
  font-size: 12px;
  text-align: center;
  padding: 5px 14px;
  margin: 0 0 10px 0;
  border-radius: 10px;
  cursor: pointer;

  }


  #user_photo {
    display: none;
  }

  #update-user {
    margin: 20px 0;
  }

  .seedlap {
    border-radius: 50px !important;
    border: 3px solid $orange;
    color: white;
    background-color: $orange;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    &:hover{
      border: 3px solid $orange;
      color: white;
      background-color: $orange;
    }
  }

  .form-box{
    padding: 5px 10px;
    margin-bottom: 40px;
  }

  .synthesis{
    display: flex;
    h3 {
      margin: 0;
      flex: 0 0 20%;
      font-size: 20px;
      margin-bottom:10px;
    }
  }


  .title-and-data{
    margin:0 30px;
    display: flex;
    .title{
      font-weight: bold;
      width: 200px;
    }

    .blank{
      color: #999;
      font-style: italic;
    }
  }

  #profil-and-pen, #address-and-pen, #password-and-pen, #paiement-and-pen{
    display: flex;
    flex: 0 0 50%;
    justify-content: space-between;

    .key-icon{
      width: 25px;
      margin: 0;
    }
  }

  .edit-icon{
    display:flex;
    align-items:center;
    border-left: 1px solid #cecece;
    padding-left: 30px;
    .glyphicon{
      color: $blue;
      border: 1px solid $blue;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;

    }
  }

  .form-civil, .form-livraison, .form-password {
    display: none;
    padding:15px 20px;
    width:70%;
    background-color: #F2F2F2;
    border-radius: 5px;

    input, textarea {
      flex: 0 0 70%;
    }

    textarea{
      min-height: 80px;
    }

    label {
      flex: 0 0 25%;
    }

    .written-label{
      flex: 0 0 25%;
    }

    .collection_radio_buttons {
      margin:0 20px 0 10px;
    }

    .action-buttons{
      display: flex;
      justify-content: flex-end;
      margin: 30px 0 0 auto;
      width: 30%;
    }

    .validate{
      color: white;
      background-color: $blue;
      border-radius: 10px;
      border: 1px solid $blue;
      padding: 5px 10px
    }
    .cancel{
      color: $blue;
      border: 1px solid $blue;
      border-radius: 10px;
      padding: 5px 10px;
      margin-right:15px;
    }
  }





@media(max-width: 992px) {

  }

  @media(max-width: 768px) {


    }

    @media(max-width: 480px) {

      .container {
        margin-bottom: 0;
        margin-top: 0px;
      }

      .dashboard {
        padding: 0 1px;
      }


        .profile-details {
          margin: 20px 50px;
          padding: 20px;
        }


        .view {
          margin: 10px 0 0 0;
        }

        .user-form {
          padding: 20px 5px;

          .primary-infos{
            display: flex;
            flex-direction: column;
          }

          .pseudo-mini-bio{
            padding: 0;
            margin-top: 15px;
          }

          .form-group {
            justify-content: space-between;
          }

          .form-control {
            width: 100%;
            margin-left: 0;
            font-size: 12px;
          }
        }



        .tabs-info {
          margin-top: 40px;
        }

      .nav-tabs {

            li {
              a {
                padding: 10px;
                font-size: 12px;
              }
            }


          }


      label {
        font-size: 12px;
      }

      .written-label {
        font-size: 12px;
        .form-group {
          margin-bottom: 0;
        }
      }


        .attached-inputs {

          label {
            font-size: 12px;
            color: #1F1F26;
          }
        }


      .form-inline {
        width: 75%;
        display: flex;
        justify-content: space-between;
      }


      .view-body {
        padding: 0;
      }



      .low-padding {
        padding: 0px;
      }

      .small-padding {
        padding: 5px 10px;
      }

      .social-options .no-label {
        margin-right: 0;
      }

      .social-options .no-label .attached-inputs {
          margin-left: 10px;
      }

      .social-group {
        .form-control {
          width: 100%;
        }
      }

      .synthesis{
        display: block;
        h3{
          font-size: 17px;
        }
      }

      .form-box{
        padding:5px 0;
      }

      .title-and-data{
        margin: 0;
        width: 250px;
        font-size: 14px;
        .title{
          flex: 0 0 40%;
        }
        .data{
          flex: 0 0 60%;
        }
      }

      .edit-icon{
        padding-left: 10px;
        .glyphicon{
          padding:3px;
          font-size: 14px;
        }
      }

      .form-civil, .form-livraison, .form-password {
        width: 100%;
      }

      #user_date_of_birth_1i, #user_date_of_birth_2i, #user_date_of_birth_3i{
        width: auto;
        padding: 6px;
        border-radius: 10px;
      }

      #password-and-pen .key-icon {
        width: 20px;
      }

    }
