.sign-container {
  padding: 50px;
  background-color: #F1F1F1;

  .form-control {
    border-radius: 5px;
    padding: 20px;
  }




  .sign-form {
    padding: 30px 60px;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    background-color: #FFFFFF;

  }

  #registrate {
    margin: 30px 0;
  }

  h2 {
    text-align: center;
  }

  label {
    border-bottom: 8px solid $orange;
    margin-bottom: 10px;
  }

  .form-actions {
    display: flex;
    justify-content: center;
  }

  .optional {
    border-bottom: none;
  }

  .sign-link {
    text-align: center;
    font-size: 17px;
    margin-bottom: 20px;
    color: $orange;
  }

  .forgot-link {
    color: $orange;
    font-size: 17px;
    margin-bottom: 35px;
  }

}

.checkbox-and-text {
  display: flex;
  align-items: center;
  font-weight: bold;
  flex-wrap: wrap;

  a {
    margin-left: 4px;
  }
}

#user_terms_of_service {
  margin: 0 10px 0 0;
}

#forgot-email {
  border-radius: 10px;
}

@media screen and (max-width: 480px) {

    .sign-container {
      padding: 0;

      .row {
        margin: 0;
      }

      .sign-form {
        border-radius: 0;
        padding: 30px;
      }


      .form-control {
        font-size: 14px;
      }

      label {
          font-size: 17px;
      }

    }



  }
